<button class="btn btn-success btn-block" (click)="open(handoverContent)">
	Jeg er klar til å {{ sender ? "overrekke" : "motta" }} bøker
</button>

<ng-template #handoverContent let-d="dismiss" let-c="close">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Overlever bøker</h4>
		<button
			type="button"
			class="close"
			aria-label="Close"
			(click)="d('Cross click')"
		>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-12">
				<ul class="list-group ">
					<li
						class="list-item d-flex justify-content-between align-items-center"
						*ngFor="let item of items"
						(click)="selectItem(item)"
					>
						<span>{{ item.title }}</span>
						<span *ngIf="sender">
							<fa-icon
								[icon]="['far', 'circle']"
								size="2x"
								*ngIf="!item.sent"
							></fa-icon>
							<fa-icon
								[icon]="'check-circle'"
								size="2x"
								*ngIf="item.sent"
							></fa-icon>
						</span>

						<span *ngIf="!sender">
							<fa-icon
								[icon]="['far', 'circle']"
								size="2x"
								*ngIf="!item.recieved"
							></fa-icon>
							<fa-icon
								[icon]="'check-circle'"
								size="2x"
								*ngIf="item.recieved"
							></fa-icon>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-outline-success btn-block"
			*ngIf="itemsSelected()"
			(click)="c('Confirm location')"
		>
			Bekreft
		</button>
		<div *ngIf="!itemsSelected()">
			Velg de bøkene som skal {{ sender ? "overleveres" : "mottas" }}
		</div>
	</div>
</ng-template>
