<div class="row">
	<div class="col">
		<h3 i18n="@@matchingInfoTitle">Matching</h3>
		<h5 i18n="@@matchingInfoSubtitle">
			Information about Boklistens concept of matching
		</h5>
	</div>
</div>
<div class="row mt-3">
	<div class="col">
		<b i18n="@@matchingInfoWhatHappensNextSemesterQ"
			>What happens next semester when I need to deliver my items?</b
		>
		<p i18n="@@matchingInfoWhatHappensNextSemesterA">
			If you choose that your book shall be reused you will get a message
			in January about meeting time and place and who you will deliver to.
		</p>
	</div>
</div>

<div class="row mt-3">
	<div class="col">
		<b i18n="@@matchingInfoHowDoIGetPayedQ"
			>How do I get payed by Boklisten?</b
		>
		<p i18n="@@matchingInfoHowDoIGetPayedA">
			When reciever confirms that he or she has gotten the items you will
			get 50 NOK per item sent to you by VIPS. When you select "reuse" you
			sell the item to Boklisten for the same amount as your outstanding
			payment.
		</p>
	</div>
</div>

<div class="row mt-3">
	<div class="col">
		<b i18n="@@matchingInfoHowWillIKnowWhoQ"
			>How will I know who to deliver the items to?</b
		>
		<p i18n="@@matchingInfoHowWillIKnowWhoA">
			You will get an SMS with phone number and name of the reciever and
			the reciever will get the same from you.
		</p>
	</div>
</div>

<div class="row mt-3">
	<div class="col">
		<b i18n="@@matchingInfoHowAndWhenHandoverQ"
			>How and when will the items be handed over?</b
		>
		<p i18n="@@matchingInfoHowAndWhenHandoverA">
			Items shall be handed over on your school inside working hours. You
			will get SMS about exact time and date.
		</p>
	</div>
</div>

<div class="row mt-3">
	<div class="col">
		<b i18n="@@matchingInfoWhatIfICantMeetQ"
			>What happes when the meeting time does not suit me?</b
		>
		<p i18n="@@matchingInfoWhatIfICantMeetA">
			If the meeting time does not fit with your schedule you will need to
			notify the reciever and instead deliver the items to Boklisten.
		</p>
	</div>
</div>

<div class="row mt-3">
	<div class="col">
		<b i18n="@@matchingInfoIfIWantToKeepItemsQ"
			>What if I want to keep the items instead?</b
		>
		<p i18n="@@matchingInfoIfIWantToKeepItemsA">
			If you want to keep the items you must pay the original outstanding
			amount.
		</p>
	</div>
</div>

<div class="row mt-3">
	<div class="col">
		<b i18n="@@matchingInfoWhatIfIDontHaveItemQ"
			>What if I no longer have the item?</b
		>
		<p i18n="@@matchingInfoWhatIfIDontHaveItemA">
			If you no longer have the item you must notify Boklisten and pay the
			outstanding amount.
		</p>
	</div>
</div>

<div class="row mt-3">
	<div class="col">
		<b i18n="@@matchingInfoWhatIfNooneWhantsTheItemsQ"
			>What happens if no one needs one or more of my items next
			semester?</b
		>
		<p i18n="@@matchingInfoWhatIfNooneWhantsTheItemsA">
			You will get info on how to deliver them to our stand at Boklisten.
		</p>
	</div>
</div>

<div class="row mt-3">
	<div class="col">
		<b i18n="@@matchingInfoWhatIsTheUpsideQ"
			>What is the upside of participate in this?</b
		>
		<p i18n="@@matchingInfoWhatIsTheUpsideA">
			When you participate you help to reuse and recycle items. You also
			will be sure that Boklisten pays for your second payment.
		</p>
	</div>
</div>
