.region-button {
	background-color: #89028c;
	color: white;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.region-button:hover {
	cursor: pointer;
	background-color: #45028c;
}

.region-button-body {
}
