
<div class="row mb-3">
	<div class="col-12">
		<app-branch-item-category-filter [branchItemCategories]="branchItemCategoryNames" (branchItemCategoriesSelect)="onBranchItemCategoryFilterChange($event)"></app-branch-item-category-filter>
	</div>
</div>

<div class="row bl-item-display-padding" *ngFor="let branchItemCategory of selectedBranchItemCategories">
	<div class="col-12">
		<div class="row">
			<div class="col-6 bl-display-category-header">
				{{branchItemCategory.name}}
			</div>
		</div>
		<div class="row justify-content-center" *ngFor="let branchItem of branchItemCategory.branchItems">
			<div class="col-12 mt-2">
				<app-item-display [branch]="branch" [compact]="true" [branchItem]="branchItem"></app-item-display>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-11 bl-display-category-footer"></div>
		</div>
	</div>
</div>


<div class="row" *ngIf="!selectedBranchItemCategories || selectedBranchItemCategories.length <= 0">
	<div class="col-12">
		<ngb-alert [type]="'warning'">There are currently no items for this branch</ngb-alert>
	</div>
</div>
