
<div class="row mb-3">
	<div class="col-12">
		<app-branch-item-category-filter [branch]="branch" (itemCategories)="onItemCategoryFilterChange($event)"></app-branch-item-category-filter>
	</div>
</div>

<div class="row bl-item-display-padding" *ngFor="let itemCategory of selectedItemCategories">
	<div class="col-12">
		<div class="row">
			<div class="col-6 bl-display-category-header">
				{{itemCategory.name}}
			</div>
		</div>
		<div class="row justify-content-center" *ngFor="let item of itemCategory.items">
			<div class="col-11 bl-display-category-spacer"></div>
			<div class="col-12">
				<app-item-display [branch]="branch" [item]="item"></app-item-display>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-11 bl-display-category-footer"></div>
		</div>
	</div>
</div>
