<div
	class="row justify-content-center mt-2 align-items-center"
	*ngIf="!customerStatus"
>
	<div class="col-lg-8 col-md-12">
		<button
			class="btn btn-success btn-lg btn-block"
			(click)="open(canComeContent)"
		>
			Jeg kan møte opp
		</button>
	</div>

	<div class="col-lg-4 col-md-12 mt-lg-0 mt-md-2 mt-2">
		<button
			class="btn btn-outline-danger btn-block"
			(click)="open(cantComeContent)"
		>
			Jeg kan ikke møte
		</button>
	</div>
</div>

<div
	class="row justify-content-center mt-2 align-items-center"
	*ngIf="customerStatus === 'meeting-point-accepted'"
>
	<div class="col-6">
		<p>
			<fa-icon [icon]="'check'" class="text-success mr-2"></fa-icon>
			Du har bekreftet møtetidspunkt
		</p>
	</div>

	<div class="col-6">
		<p *ngIf="counterpartyStatus === 'meeting-point-accepted'">
			<fa-icon [icon]="'check'" class="text-success mr-2"></fa-icon>
			{{ counterparty.name }} har bekreftet møtetidspunkt.
		</p>

		<p *ngIf="!counterpartyStatus">
			<fa-icon [icon]="'times'" class="text-danger mr-2"></fa-icon>
			{{ counterparty.name }} har ikke bekreftet møtetidspunkt enda.
		</p>
	</div>
</div>

<ng-template #canComeContent let-d="dismiss" let-c="close">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Jeg kan møte</h4>
		<button
			type="button"
			class="close"
			aria-label="Close"
			(click)="d('Cross click')"
		>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p class="mb-3">
			Jeg bekrefter at jeg kan møte opp på det angitte tidspunktet.
		</p>
	</div>

	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-outline-success btn-block"
			(click)="c('Confirm location')"
		>
			Bekreft
		</button>
	</div>
</ng-template>

<ng-template #cantComeContent let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Jeg kan ikke møte</h4>
		<button
			type="button"
			class="close"
			aria-label="Close"
			(click)="d('Cross click')"
		>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p class="mb-3">
			Hvis du ikke kan møte opp på det angitte tidspunkt og sted ber vi
			deg kontakte {{ counterparty.name }} for å avtale nytt tidspunkt.
			Helst med en gang.
		</p>

		<app-match-profile-card
			[profile]="counterparty"
		></app-match-profile-card>
	</div>

	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-outline-success"
			(click)="d('I can anyway')"
		>
			Jeg kan likevel
		</button>
	</div>
</ng-template>
