<div class="container">
	<div class="row justify-content-center mb-5 mt-2">
		<div class="col-md-6 col-12">
			<app-date-picker
				[(pickedDate)]="pickedDate"
				(pickedDateChange)="onPickedDate($event)"
			></app-date-picker>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-6 col-12">
			<ul class="list-group">
				<li
					class="list-group-item list-group-item-secondary text-center"
				>
					<span class="font-weight-bold">
						{{pickedDate | blcDate:'day'}} {{pickedDate |
						blcDate:'date'}}
					</span>
				</li>
				<li
					*ngIf="!wait && bookings.length <= 0"
					class="list-group-item list-group-item-secondary text-center"
				>
					No bookings available on date
				</li>
				<li
					class="list-group-item d-flex justify-content-between align-items-center"
					*ngFor="let booking of bookings"
				>
					<span class="font-weight-bold"
						>{{booking.from | blcDate:'hour'}}</span
					>
					<button
						class="btn btn-success"
						[routerLink]="'/bookings/' + booking.id + '/confirm'"
					>
						Book
						<fa-icon icon="chevron-right" class="ml-2"></fa-icon>
					</button>
				</li>
			</ul>
		</div>
	</div>
</div>
