<div class="container">
	<div class="row mt-2">
		<div class="col-md-6 col-12 mb-md-0 mb-3">
			<app-date-picker
				[(pickedDate)]="pickedDate"
				(pickedDateChange)="onPickedDate($event)"
			></app-date-picker>
		</div>

		<div class="col-md-6 col-12">
			<ul class="list-group">
				<li
					class="list-group-item list-group-item-secondary text-center"
				>
					<span class="font-weight-bold">
						{{pickedDate | blcDate:'day'}} {{pickedDate |
						blcDate:'date'}}
					</span>
				</li>
				<li
					class="list-group-item list-group-item-warning text-center"
					*ngIf="wait"
				>
					<fa-icon [icon]="'circle-notch'" [spin]="true"></fa-icon>
				</li>
				<li
					*ngIf="!wait && bookings.length <= 0"
					class="list-group-item list-group-item-secondary text-center"
					i18n="@@bookingSelectComponentNoBookings"
				>
					No bookings available on date
				</li>
				<li
					class="list-group-item d-flex justify-content-between align-items-center"
					*ngFor="let booking of bookings"
				>
					<div>
						<div>
							<small
								>{{booking.from | blcDate:'day'}} {{booking.from
								| blcDate:'date'}}</small
							>
						</div>
						<span class="font-weight-bold"
							>{{booking.from | blcDate:'hour'}}</span
						>
						<div>
							<small>
								<span
									*ngIf="!booking.booked"
									class="text-success"
									i18n="bookingSelectAvailable"
									>Available</span
								>
								<span
									*ngIf="booking.booked"
									class="text-danger"
									i18n="bookingSelectNotAvailable"
									>Not available</span
								>
							</small>
						</div>
					</div>
					<button
						class="btn btn-success"
						[routerLink]="'/bookings/' + booking.id + '/confirm'"
						i18n="@@bookingSelectComponentBookButton"
					>
						Book
						<fa-icon icon="chevron-right" class="ml-2"></fa-icon>
					</button>
				</li>
			</ul>
		</div>
	</div>
</div>
