<div class="bl-header container-fluid">
	<div class="row align-items-center justify-content-between">
		<div class="col-md-3 col-sm-5 col-xs-6 col-6 bl-logo" (click)="onLogoClick()">
			<img src="../../assets/boklisten_logo_v2_icon_white_lg.png" height="60" width="60">
			<b class="bl-logo-text">Boklisten.no</b>
		</div>
		<div class="col-sm-4 col-xs-6 col-6 bl-header-buttons">
			<i class="fa fa-list fa-2x bl-header-button" (click)="onItemSelectClick()"></i>
			<app-header-cart></app-header-cart>
			<i class="fa fa-user fa-2x bl-header-button" (click)="onUserClick()"></i>

		</div>
	</div>
</div>

