@import "../../styles";

.bl-header {
	background-color: $primary-color;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 2px solid $secondary-color;
	position: fixed;
	top: 0;
	overflow: visible;
	width: 100%;
	z-index: 999;
}

.bl-logo-container {
}

.bl-header-button {
	color: #283d3b;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.bl-header-button:hover {
}

.bl-header-button-alert {
	@extend .bl-header-button;
	color: #ffffff;
}

.bl-logo {
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	cursor: pointer;
}

.bl-logo-text {
	color: #ffffff;
	font-size: 25px;
	padding-left: 10px;
	font-family: serif;
}

.bl-logo-text:hover {
	text-decoration: underline;
}

.bl-header-buttons {
	text-align: center;
	color: #283d3b;
}
