
@import "../../styles";

.bl-header {
  width: 100vw;
  background-color: $primary-color;
  height: 50px;
  padding-left: 50px;
  padding-top: 10px;
}

.bl-logo-container {

}

.bl-logo {
  height: 40px;
  width: 40px;
  float: left;
}

.bl-logo-text {
  color: #ffffff;
  font-size: 25px;
  float: left;
  padding-top: 6px;
  padding-left: 10px;
}

