<div class="bl-header container-fluid">
	<div class="row no-gutters align-items-center justify-content-between">
		<div class="col-md-5 col-sm-4 col-xs-4 col-4 bl-logo" (click)="onLogoClick()">
			<img src="../../assets/img/boklisten_logo_v2_icon_white_lg.png" height="60" width="60">
			<b class="bl-logo-text d-none d-lg-inline-block">Boklisten.no</b>
		</div>
		<div class="col-md-5 col-sm-8 col-xs-8 col-8 bl-header-buttons">
			<div class="row no-gutters">
				<div class="col-4">
					<fa-icon [icon]="['fa', 'list']" size="2x" class="bl-header-button" (click)="onItemSelectClick()"></fa-icon>
				</div>
				<div class="col-4">
					<app-header-cart></app-header-cart>
				</div>
				<div class="col-4">
					<fa-icon [icon]="['fa', 'user']" size="2x" class="bl-header-button" (click)="onUserClick()"></fa-icon>
				</div>
			</div>

		</div>
	</div>
</div>

