@import "../../styles";

$header-font-size: 20px;

.bl-header {
	background-color: $primary-color;
	overflow: visible;
	width: 100%;
	z-index: 999;

	border-bottom: 2px solid $secondary-color;
}

.bl-logo-container {
}

.bl-header-button {
	color: #283d3b;
	font-size: $header-font-size;
	cursor: pointer;
}

.bl-logo {
	text-align: center;
	font-size: $header-font-size;
	color: #ffffff;
	cursor: pointer;
}

.bl-logo-text {
	color: #ffffff;
	font-size: 25px;
	padding-left: 10px;
	font-family: serif;
}

.bl-burger-button {
	min-width: 30px;
}

.bl-cart-button {
	border-bottom: 2px solid red;
}

.bl-burger-menu {
	width: 100%;
	//background-color: $primary-color;
	z-index: 999;
	//border-bottom: 2px solid $secondary-color;
}

.bl-burger-menu-content {
	background-color: $secondary-color;
	border-top: 2px solid $secondary-color;
	height: 100vh;
}

.bl-cart-alert-circle {
	background-color: $alert-color;
	border-radius: 50%;
	height: $header-font-size;
	width: $header-font-size;
	font-size: 12px;
	display: inline-block;
	font-weight: bold;
	color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	line-height: 20px;
	//position: absolute;
	//top: -21%;
	//left: 55%;
}
