<div class="bl-footer-container">
	<div class="container">
		<div class="row mb-3">
			<div class="col-6 bl-footer-text">
				<ul>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Contact information</a></li>
					<li><a href="#">Report a bug</a></li>
				</ul>
			</div>
			<div class="col-6 bl-footer-text">
				<ul>
					<li><a routerLink="/info/agreement/privacy">Privacy agreement</a></li>
                    <li><a routerLink="/info/agreement/rent">Rent agreement</a></li>
                </ul>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-6 bl-footer-text">
				<!--<p>
					This site is made with <i class="fa fa-coffee"></i> and <i class="fas fa-heart"></i> by <a href="#">Holskil</a>
				</p>
				-->
				<p>
					Boklisten.no AS <i class="far fa-copyright"></i> {{getCurrentYear()}}
				</p>
			</div>
		</div>
	</div>
</div>
