@import "../../../styles";

.bl-item-select {
	text-align: center;
}

.bl-item-price-container {
	border: 1px solid $secondary-color;
	border-radius: 3px;
}

.bl-item-price {
	color: $secondary-color;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

.bl-item-price-desc {
	text-align: center;
	color: #ffffff;
	background-color: $secondary-color;
}

.bl-item-display-price {
	font-size: 25px;
}

.card-body {
	padding: 0.3rem;
}

.card-footer {
	padding: 0.3rem;
}

.card-header {
	padding: 0.3rem;
}
