<div class="row">
	<div class="col-12">
		<h6 class="text-secondary" i18n="@@buybackTitle">
			List of items that we buy back. Be aware that this list can be
			changed at any time.
		</h6>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div
			class="alert alert-secondary"
			i18n="@@infoBuybackNoItems"
			*ngIf="items.length <= 0"
		>
			No items in list. Head back later to view a updated list.
		</div>
	</div>
	<div class="col-12">
		<ul class="list-group">
			<li
				class="list-group-item justify-content-between d-flex"
				*ngFor="let item of items"
			>
				<div class="d-flex w-100 justify-content-between">
					<div>
						<h6>{{ item.title }}</h6>
						<small class="font-weight-lighter">{{
							item.info.isbn
						}}</small>
					</div>
					<span class="font-weight-bold"
						>{{ getPrice(item) | blcPrice: "international" }}
					</span>
				</div>
			</li>
		</ul>

		<div
			class="alert alert-secondary mt-5"
			*ngIf="items.length > 0"
			i18n="@@infoBuybackAddAndRemove"
		>
			More items may be added and some items may be removed from the list.
		</div>
	</div>
</div>
