
<div class="container bl-item-info-container" *ngIf="item">
	<div class="row">
        <div class="col-md-3 col-sm-12 mb-3">
            <div class="bl-item-info-image">
				<i class="fa fa-book fa-2x"></i>
            </div>
        </div>
        <div class="col-md-9 col-sm-12">
			<div class="row mb-3 bl-item-info-main-container">
				<div class="col-md-10 col-sm-12 col-12">
                    <h3>{{item.title}}</h3>
                    <p>{{item.desc}}</p>
				</div>
				<div class="col-md-2 col-sm-12 col-12">
					<app-item-add [item]="item"></app-item-add>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-6 col-sm-12 mb-3">
					<div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b>Fullprice:</b> {{item.price}}
                            </li>
                            <li class="list-group-item">
                                <b>ISBN:</b> {{item.info.isbn}}
                            </li>
                        </ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="card">
						<div class="card-header">
							Schools that have this book
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								something
							</li>
						</ul>
					</div>
				</div>
			</div>
        </div>
	</div>


</div>
