<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col" *ngIf="match">-->
<!--{{ match.id }} | <a routerLink="d" class="bl-link">deliver</a> |-->
<!--<a-->
<!--routerLink="r"-->
<!--[queryParams]="{ r: '5db2c1cea2c15641fe1cac22' }"-->
<!--class="bl-link"-->
<!-->recieve A</a-->
<!-->-->
<!--|-->
<!--<a-->
<!--routerLink="r"-->
<!--[queryParams]="{ r: '5db2cdc6a2c15641fe1cac27' }"-->
<!--class="bl-link"-->
<!-->recieve B</a-->
<!-->-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<router-outlet></router-outlet>
