<div class="row justify-content-between align-items-center">
	<div class="col-md-auto col-12" *ngIf="item">
		<h5>{{ item.title }}</h5>
		<small>{{ item.info["isbn"] }}</small>
	</div>
	<div class="col-md-auto col-12 m-md-0 mt-3">
		<button
			class="btn btn-outline-success btn-block mr-2"
			(click)="onChoice('match')"
			i18n="@@matchSelectItemBuyoutMatch"
		>
			Reuse
			<fa-icon
				[icon]="'check'"
				*ngIf="choice.match"
				class="ml-2"
			></fa-icon>
		</button>
		<button
			class="btn btn-link btn-small text-danger btn-block"
			(click)="onChoice('buyout')"
			i18n="@@matchSelectItemBuyoutButton"
		>
			Buyout

			<fa-icon
				[icon]="'check'"
				*ngIf="choice.buyout"
				class="ml-2"
			></fa-icon>
		</button>
	</div>
</div>
