<div class="row justify-content-between align-items-center">
	<div class="col-auto" *ngIf="item">
		<h3>{{ item.title }}</h3>
		<small>{{ item.info["isbn"] }}</small>
	</div>
	<div class="col-auto">
		<button
			class="btn btn-outline-success mr-2"
			(click)="onChoice('match')"
			i18n="@@matchSelectItemBuyoutMatch"
		>
			Reuse
			<fa-icon
				[icon]="'check'"
				*ngIf="choice.match"
				class="ml-2"
			></fa-icon>
		</button>
		<button
			class="btn btn-link btn-small text-danger"
			(click)="onChoice('buyout')"
			i18n="@@matchSelectItemBuyoutButton"
		>
			Buyout

			<fa-icon
				[icon]="'check'"
				*ngIf="choice.buyout"
				class="ml-2"
			></fa-icon>
		</button>
	</div>
</div>
