<div class="row justify-content-center align-items-center">
	<div class="md-1 sm-12">
		<div class="fa fa-shopping-cart fa-3x"></div>
	</div>
</div>
<div class="row justify-content-center mt-3">
	<div class="md-4 sm-12">
		<h3 class="text-center">
			The cart looks empty, you probably want to do something about it?
		</h3>
	</div>
</div>
<div class="row justify-content-center align-items-center mt-3">
	<div class="md-4 sm-12">
		<button class="btn btn-info btn-block" routerLink="/i/select"><i class="fa fa-cart-plus"></i> rent or buy some items</button>
	</div>
</div>
