
<div class="row bl-item-display-container align-items-center" *ngIf="item" [ngClass]="{'bl-item-display-container-warning': isExpired()}">
    <div class="col-lg-1 col-md-2 col-sm-2 col-2 bl-item-image d-none d-sm-inline-block">
        <i class="fas fa-2x fa-book"></i>
    </div>
    <div class="col-lg-6 col-md-10 col-sm-10 col-10">
		<h5 (click)="onItemClick()" class="bl-item-title"><b>{{item.title}}</b></h5>
		<p *ngIf="!isExpired()">Deadline: <b>{{customerItem.deadline | date}}</b>, deliver it at: <a *ngIf="branch" routerLink="/b/info/{{branch.id}}">{{branch.name}}</a></p>
		<p *ngIf="isExpired()">This item expired at <b>{{customerItem.deadline | date}}</b></p>
    </div>
    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
        <div class="row justify-content-center align-items-center" *ngIf="!isExpired()">
			<div class="col-md-4 col-sm-4 col-12 mb-3 mt-3">
				<button type="button" class="btn btn-outline-info btn-block" (click)="onExtendClick()" *ngIf="!extend">Extend</button>
				<button type="button" class="btn btn-success btn-block" (click)="onExtendClick()" *ngIf="extend"><i class="fa fa-check"></i> Extend</button>
			</div>
			<div class="col-md-4 col-sm-4 col-12 mb-3 mt-3">
				<button type="button" class="btn btn-outline-info btn-block" (click)="onBuyoutClick()" *ngIf="!buyout">Buyout</button>
				<button type="button" class="btn btn-success btn-block" (click)="onBuyoutClick()" *ngIf="buyout"><i class="fa fa-check"></i> Buyout</button>
			</div>
			<div class="col-md-4 col-sm-4 col-12 mb-3 mt-3">
				<button type="button" class="btn btn-outline-info btn-block" (click)="onDeliverClick()">Deliver</button>
			</div>
        </div>
    </div>
</div>

