
<div class="row mb-2">
	<div class="col-12">
		<div class="card">
			<div class="card-header bg-info">
				<div class="row justify-content-between text-white">
					<div class="col-auto" *ngIf="item">
						{{item.title}}
					</div>
				</div>
			</div>
			<div class="card-body bg-danger text-white" *ngIf="notReturnedBeforeDeadline">
				<div class="row">
					<div class="col-auto">
						<fa-icon [icon]="'exclamation-triangle'" class="mr-2"></fa-icon>
						<span i18n="@@userCustomerItemNotReturnedError">This item has not been returned before the deadline, you will receive information about what to do next.</span>
					</div>
				</div>
			</div>
			<div class="card-body bg-secondary text-white" *ngIf="returned">
				<div class="row">
					<div class="col-auto">
						<fa-icon [icon]="'check'" class="mr-2"></fa-icon>
						<span i18n="a happy message that tells the customer they have returned the item @@userCustomerItemReturnedMessage">This item has been returned, thanks!</span>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row justify-content-between">
					<div class="col-auto text-secondary font-weight-bold" i18n="customer item handed out at time @@customerItemHandedOut">
						Handed out
					</div>
					<div class="col-auto text-secondary">
						{{customerItem.handoutInfo.time | blcDate}}
					</div>
				</div>
				<div class="row justify-content-between" *ngIf="!returned">
					<div class="col-auto text-secondary font-weight-bold" i18n="customer item deadline @@customerItemDeadline">
						Deadline
					</div>
					<div class="col-auto text-secondary">
                        <fa-icon [icon]="'clock'" class="mr-2"></fa-icon>
                        {{customerItem.deadline | blcDate}}
					</div>
				</div>
				<div class="row justify-content-between" *ngIf="returned">
					<div class="col-auto text-secondary font-weight-bold" i18n="customer item deadline @@customerItemReturned">
						Returned
					</div>
					<div class="col-auto text-secondary">
						{{customerItem.returnInfo.time | blcDate}}
					</div>
				</div>
				<div class="row justify-content-between" *ngIf="returned">
					<div class="col-auto text-secondary font-weight-bold" i18n="customer item deadline @@customerItemReturned">
						Returned to
					</div>
					<div class="col-auto text-secondary">
						{{customerItem.returnInfo.returnedToId | blcBranch | async}}
					</div>
				</div>
				<div class="row justify-content-between" *ngIf="!returned">
					<div class="col-auto text-secondary font-weight-bold" i18n="deliver customerItem to@@customerItemDeliverTo">
						Deliver to
					</div>
					<div class="col-auto text-secondary bl-link-black">
						<span routerLink="{{'/b/info/' + customerItem.handoutInfo.handoutById}}">
							{{customerItem.handoutInfo.handoutById | blcBranch | async}}
						</span>
					</div>
				</div>
			</div>
			<div class="card-body bg-warning" *ngIf="!correctBranch && !notReturnedBeforeDeadline">
				<div class="row">
					<div class="col-auto">
						<fa-icon [icon]="'exclamation-triangle'" class="mr-2"></fa-icon>
						<span i18n="if the user has set another branch than the item was rented on@@userCustomerItemNotOnCorrectBranch">This item is not from the current set branch. You can not do actions on this item unless you have the correct branch set.</span>
					</div>
				</div>
			</div>
			<div class="card-footer" *ngIf="correctBranch && !notReturnedBeforeDeadline && !returned">
				<div class="row justify-content-end">
					<div class="col-sm-auto col-12">
						<div class="row">
							<div class="col-sm-auto col-12">
                                <button class="btn btn-block"
										(click)="onExtendClick()"
										[ngClass]="{'btn-success': extend, 'btn-outline-secondary': !extend}"
										[disabled]="!canExtend">
                                    <fa-icon *ngIf="!extend" [icon]="'calendar-plus'" class="mr-2"></fa-icon>
                                    <fa-icon *ngIf="extend" [icon]="'check'" class="mr-2"></fa-icon>
									<span i18n="@@customerItemExtendButton">Extend</span>
                                </button>
							</div>
						</div>
						<div class="row justify-content-center mt-1" *ngIf="extend">
							<div class="col-auto text-secondary">
								<fa-icon [icon]="'calendar-plus'"></fa-icon>
								<fa-icon [icon]="'arrow-right'"></fa-icon>
								{{customerItem | blcCustomerItemDate:'extend':'semester' | blcDate}}
							</div>
						</div>
						<div class="row justify-content-center" *ngIf="extend">
							<div class="col-auto text-secondary">
								{{customerItem | blcCustomerItemPrice:'extend' | async | blcPrice}}
							</div>
						</div>
					</div>
					<div class="col-sm-auto col-12 mt-sm-0 mt-2">
						<div class="row">
							<div class="col-sm-auto col-12">
                                <button class="btn btn-block"
										(click)="onBuyoutClick()"
										[disabled]="!canBuyout"
										[ngClass]="{'btn-outline-secondary': !buyout, 'btn-success': buyout}">
                                    <fa-icon [icon]="'money-bill-wave'" *ngIf="!buyout" class="mr-2"></fa-icon>
									<fa-icon [icon]="'check'" *ngIf="buyout" class="mr-2"></fa-icon>
									<span i18n="@@customerItemBuyoutButton">Buyout</span>
                                </button>
							</div>
						</div>
						<div class="row justify-content-center mt-1" *ngIf="buyout">
							<div class="col-auto text-secondary">
								{{customerItem | blcCustomerItemPrice:'buyout' | async | blcPrice}}
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

