

<div class="row" *ngIf="orderPlacedFailure">
	<div class="col-12">
		<ngb-alert [type]="'danger'">
			<fa-icon [icon]="'exclamation-triangle'"></fa-icon>
			<span i18n="@@cartCheckoutOrderPlacedError">The order could not be placed, try again shortly</span>
		</ngb-alert>
	</div>
</div>

<div class="row" *ngIf="orderError && !order">
	<div class="col-12">
		<ngb-alert [type]="'danger'">
			<fa-icon [icon]="'exclamation-triangle'"></fa-icon>
			<span i18n="@@cartCheckoutOrderError">We have problems creating the order for you, please try again soon</span>
		</ngb-alert>
	</div>
</div>

<div class="row text-center" *ngIf="showUserMustLogin">
	<div class="col-12">
		<h3 i18n="@@cartCheckoutMustLoginError">You must login or register to place a order</h3>
	</div>
	<div class="col-12">
		<div class="row">
			<div class="col-6">
				<button class="btn btn-success btn-block" routerLink="/auth/login" i18n="@@cartCheckoutLoginButton">Login</button>
			</div>
			<div class="col-6">
				<button class="btn btn-info btn-block" routerLink="/auth/register" i18n="@@cartCheckoutRegisterButton">Register</button>
			</div>
		</div>
	</div>
</div>

<div class="row mt-2" *ngIf="!showUserMustLogin && order">
	<div class="col-12">
        <div class="row justify-content-center" *ngIf="showPaymentDecision && !isOnlyCustomerItems()">
            <div class="col-auto">
                <div class="btn-group btn-group-toggle btn-group-md" ngbRadioGroup name="radioBasic" [(ngModel)]="paymentDecision">
                    <label ngbButtonLabel class="btn-outline-secondary">
                        <input ngbButton type="radio" value="now" (click)="onPaymentDecicionChange('now')">
						<span i18n="@@cartCheckoutOptionPayNow">Pay now</span>
                    </label>
                    <label ngbButtonLabel class="btn-outline-secondary">
                        <input ngbButton type="radio" value="later" (click)="onPaymentDecicionChange('later')">
						<span i18n="@@cartCheckoutOptionPayLater">Pay later</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row mt-4" *ngIf="showPaymentDecision && paymentDecision === 'now'">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt-lg-0 mt-md-2 mt-sm-2 mt-2" *ngIf="!isOnlyCustomerItems()">
                <app-cart-delivery></app-cart-delivery>
            </div>
            <div class="col-lg-6 col-md-12 col-12 mt-lg-0 mt-md-2 mt-sm-2 mt-2" [ngClass]="{'col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12': isOnlyCustomerItems()}">
				<div class="row">
					<div class="col-12">
						<app-cart-summary></app-cart-summary>
					</div>
					<div class="col-12 mt-4">
						<app-cart-payment></app-cart-payment>
					</div>
				</div>
            </div>
        </div>

        <div class="row mt-5 justify-content-center" *ngIf="showPaymentDecision && paymentDecision === 'later'">
            <div class="col-12 bl-cart-pay-later">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-12 mb-sm-0 mb-2" i18n="@@cartCheckoutPayLaterInfo">
                        Pay <b>{{getPrice()}} kr</b> later at branch
                    </div>
                    <div class="col-sm-6 col-12">
                        <button class="btn btn-block btn-lg btn-success" (click)="onConfirmOrder()" i18n="@@cartCheckoutConfirmOrderButton">
                            Confirm order
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-5 justify-content-center" *ngIf="!showPaymentDecision">
            <div class="col-12 bl-cart-pay-later">
                <div class="row align-items-center">
                    <div class="col-6" i18n="@@cartCheckoutRetrieveItemsAtBranch">
                        Retrieve the items at branch
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-lg btn-success" (click)="onConfirmOrder()" i18n="@@cartCheckoutConfirmOrderButton">
                            Confirm order
                        </button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
