

.bl-cart-pay-later {
	background-color: #ffffff;
	border-radius: 3px;
	padding: 10px;
	text-align: center;
}


.bl-checkout-bar {
	background-color: white;
	border-radius: 3px;
}

.bl-checkout-btn-active {
	border-bottom: solid 5px #26768f;
	border-radius: 0;
}
