<app-info-agreement-conditions></app-info-agreement-conditions>

<div class="row bg-white">
	<div class="col-12"><hr /></div>
</div>

<div class="row bg-white">
	<div class="col-12">
		<span class="text-secondary bl-text-sm mb-2"
			>Gjelder for ordre gjennomført mellom 09.01.19 og 19.01.20</span
		>
		<h1>Betingelser for privatister og elever</h1>
	</div>
	<div class="col-12">
		<p>
			Det avtales herved at Boklisten.no AS (Adr: Pb 8, 1359 Eiksmarka,
			tlf: 91002211, epost info@boklisten.no), heretter kalt Boklisten
			låner bort bøker (for elever) og selger på avdrag til kunden (for
			privatister). Elever låner for et helt skoleår og
			tilbakeleveringsfristen er 1. juli. Privatister kjøper bøker på to
			avdrag, og betaler første avdrag ved mottak av bøker. Prisen for
			første avdrag avtales ved bestilling av bøker, mens prisen for andre
			avdrag er 1/3 av bokens nypris. Det avtales for hver enkelt bok om
			andre avdrag forfaller 20.desember eller 1.juli. Privatisten kan
			komme til vår innkjøpsstanden ved slutten av semesteret eller logge
			seg på nettsiden for å betale andre avdrag før betalingsfristen.
			Hvis dette ikke gjøres, vil andre avdrag faktureres, og det påløper
			et administrasjonsgebyr på 150 kr per bok.
		</p>

		<p>
			For å kunne få kjøpe bøker med utsatt betaling godtar privatisten å
			bli meldt inn i Boklistens kundeklubb, og vil kunne motta
			generaliserte mailer om betalingsfrister, Boklistens innkjøpslister
			og -priser samt informasjon fra samarbeidspartnere. Dette samtykket
			kan når som helst trekkes tilbake og medlemskapet i kundeklubben
			utløper automatisk 1 år etter at siste avdrag er betalt. Elever blir
			ikke medlem av kundeklubben, men vil motta påminnelser om
			tilbakelevering av bøker.
		</p>

		<p>
			Ved tilbakelevering fra elever må bøkene være i god stand. Boklisten
			har ensidig rett til å avgjøre om en bok aksepteres eller må
			erstattes. Det anbefales derfor å behandle bøkene pent og bruke
			bokbind. Se mer informasjon på nettsidene til Boklisten.no om hva
			som godtas ved tilbakelevering av bøker. Bøker som ikke leveres
			tilbake fra elever eller er ødelagte må erstattes med forlagenes
			listepris + prisjustering på 10% + gebyr på 90 kr per bok, mistes
			eller av annen grunn ikke leveres innen fristen.
		</p>

		<p>
			Denne avtale reguleres av norsk rett. Eventuelle tvister med
			utspring i avtaleforholdet skal avgjøres ved behandling i de
			ordinære domstoler. Oslo tingrett skal være verneting.
		</p>
	</div>
</div>
