.news-banner {
	border: solid 3px #ff9800;
	border-radius: 4px;
	padding: 1rem 1rem 0 1rem;
	background: #ffffff;
	color: #212121;
	margin: 40px auto 0 auto;
	line-height: 22.72px;
	width: fit-content;
}
