


	<div class="row justify-content-center mt-3">
		<div class="col-auto text-secondary">
			<fa-icon [icon]="'receipt'" [size]="'3x'"></fa-icon>
		</div>
	</div>

	<div class="row justify-content-center mt-2 mb-3">
		<h2 class="col-auto text-secondary">
			Order history
		</h2>
	</div>

	<div class="row" *ngIf="!showOrders()">
		<div class="col-12">
			<div class="alert alert-warning">You have no Orders yet</div>
		</div>
	</div>

	<app-order-info *ngFor="let order of orders.reverse()" [order]="order"></app-order-info>
