
	<div class="row bl-item-display-container">
		<div class="col-sm-2 col-12 bl-item-image">
			<i class="fas fa-2x fa-book"></i>
		</div>

		<div class="col-sm-5 col-12 bl-item-text">
			<h5><b>{{orderItem.title}}</b></h5>
			<p><i class="fas fa-barcode"></i> some id</p>
		</div>

		<div class="col-sm-3 col-8">
			<div class="row">
				<div class="col-12">
					<div class="btn-group btn-group-toggle" ngbRadioGroup name="semester" [(ngModel)]="semester">
						<label ngbButtonLabel class="btn-info">
							<input ngbButton type="radio" value="one" (click)="onSemesterUpdate()">one semester
						</label>
						<label ngbButtonLabel class="btn-info">
							<input ngbButton type="radio" value="two" (click)="onSemesterUpdate()">two semesters
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					rent to <b>{{getDate()}}</b>
				</div>
			</div>
		</div>

		<div class="col-sm-2 col-4 bl-cart-item-price">
			{{getPrice()}}
		</div>
	</div>
