
@import "../../../styles";

.bl-cart-item {
	background-color: #ffffff;
	border-radius: 3px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 10px;

	margin-bottom: 10px;
}

.bl-cart-item-title {
	color: $secondary-color;
	font-size: 20px;
}

.bl-cart-item-price {
	color: $secondary-color;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 62px;
}
