<div class="bl-cart-item">
    <div class="row">
        <div class="col-7">
			<div class="row">
				<div class="col-12 bl-cart-item-title">
					{{cartItem.item.title}}
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<i class="fas fa-barcode"></i> {{cartItem.item.info.isbn}}
				</div>
			</div>
        </div>
        <div class="col-4">
			<div class="row">
				<div class="col-12">
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="semester" [(ngModel)]="semester">
                        <label ngbButtonLabel class="btn-info">
                            <input ngbButton type="radio" value="one">one semester
                        </label>
                        <label ngbButtonLabel class="btn-info">
                            <input ngbButton type="radio" value="two">two semesters
                        </label>
                    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					rent to <b>{{getDate()}}</b>
				</div>
			</div>
        </div>
		<div class="col-1 bl-cart-item-price">
			{{getPrice()}}
		</div>
    </div>
</div>
