

<div class="input-group">
    <div class="input-group-prepend">
        <label class="input-group-text" for="branchSelect">
			<fa-icon [icon]="'graduation-cap'"></fa-icon>
		</label>
    </div>
    <select class="custom-select" [(ngModel)]="selectedBranch" id="branchSelect" value="Select a branch" (ngModelChange)="onBranchSelectUpdate($event)">
		<option value="" selected disabled>{{branchSelectDefaultText}}</option>
        <option *ngFor="let branch of branches" [ngValue]="branch">{{branch.name}}</option>
    </select>
</div>
