<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto text-secondary">
            <fa-icon [icon]="'graduation-cap'" [size]="'3x'"></fa-icon>
        </div>
    </div>

    <div class="row justify-content-center mt-2 mb-4">
        <div class="col-auto text-secondary">
            <h2>Select your school</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto" *ngFor="let branch of branches">
            <button
				class="btn btn-lg mr-2 ml-2 mt-2"
				[ngClass]="{'btn-outline-secondary': selectedBranch !== branch, 'btn-secondary': selectedBranch === branch}"
				(click)="onBranchSelect(branch)"
				>
                <fa-icon *ngIf="selectedBranch === branch" [icon]="'check'" class="mr-2"></fa-icon>
				{{branch.name}}
            </button>
        </div>
    </div>
</div>
