<ngb-alert [type]="warning" *ngIf="warningText">{{warningText}}</ngb-alert>

<div class="container" *ngIf="branch">
	<div class="row">
		<div class="col-12 mb-3">
			<div class="card">
				<div class="card-body">
					<h3>{{branch.name}}</h3>
					<p>{{branch.desc}}</p>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="row">
				<div class="col-6">
					<app-branch-contact-info [branch]="branch"></app-branch-contact-info>
				</div>
				<div class="col-6">
					<app-branch-opening-hours [branch]="branch"></app-branch-opening-hours>
				</div>
			</div>
		</div>

	</div>
</div>
