

<div class="container">
	<div class="row justify-content-center">
		<div class="col-6 mt-3">
			<button type="button" class="btn btn-info btn-block" (click)="onOrderClick()">
				Your Orders
			</button>
			<button type="button" class="btn btn-info btn-block" (click)="onItemClick()">
				Rent Items
			</button>
			<button type="button" class="btn btn-info btn-block" (click)="onBranchClick()">
				School Info
			</button>
			<button type="button" class="btn btn-info btn-block" (click)="onEditDetailClick()">
				Edit user details
			</button>
		</div>
	</div>
</div>

