

<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-12 col-12 mt-3">
			<button type="button" class="btn btn-lg btn-info btn-block" (click)="onYourItemsClick()">
				<fa-icon [icon]="'book-open'" class="mr-2"></fa-icon> Your Items
			</button>
			<button type="button" class="btn btn-lg btn-info btn-block" (click)="onOrderClick()">
				<fa-icon [icon]="'receipt'" class="mr-2"></fa-icon> Order history
			</button>
			<button type="button" class="btn btn-lg btn-info btn-block" (click)="onBranchClick()">
				<fa-icon [icon]="'graduation-cap'" class="mr-2"></fa-icon> School Info
			</button>
			<button type="button" class="btn btn-lg btn-secondary btn-block" (click)="onEditDetailClick()">
				 <fa-icon [icon]="'user-cog'" class="mr-2"></fa-icon> Edit user details
			</button>
			<button type="button" class="btn btn-lg btn-secondary btn-block" (click)="onLogout()">
				<fa-icon [icon]="'sign-out-alt'" class="mr-2"></fa-icon> Logout
			</button>
		</div>
	</div>
</div>

