
<div class="row" *ngIf="!order || !delivery">
	<div class="col-12">
		<div class="alert alert-secondary" i18n="@@cartSummaryError">
			Summary could not be provided
		</div>
	</div>
</div>

<div class="row" *ngIf="order && delivery">
	<div class="col-12">
		<div class="card">
			<div class="card-header" i18n="@@cartSummaryTitle">
				Payment summary
			</div>

			<div class="card-body">
				<div class="row justify-content-between">
					<div class="col-auto text-secondary" i18n="@@cartSummarySumItems">
						Sum items
					</div>
					<div class="col-auto">
						{{order.amount | blcPrice}}
					</div>
				</div>
				<div class="row justify-content-between" *ngIf="delivery.amount !== 0">
					<div class="col-auto text-secondary" i18n="@@cartSummaryShipment">
						Shipment
					</div>
					<div class="col-auto">
						{{delivery.amount | blcPrice}}
					</div>
				</div>
				<div class="row justify-content-between">
					<div class="col-auto text-secondary">
						<small i18n="@@cartSummaryTaxAmount">Tax amount</small>
					</div>
					<div class="col-auto">
						<small>{{0 | blcPrice}}</small>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row justify-content-between">
					<div class="col-auto text-secondary" i18n="@@cartSummaryTotal">
						Total
					</div>
					<div class="col-auto font-weight-bold">
						{{totalAmount() | blcPrice}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
