<button class="btn btn-link" (click)="open(questionContent)">
	Jeg har spørsmål
</button>

<ng-template #questionContent let-d="dismiss" let-c="close">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Spørsmål og svar</h4>
		<button
			type="button"
			class="close"
			aria-label="Close"
			(click)="d('Cross click')"
		>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<h5>Hva er dette?</h5>
		<p>
			Du har blitt plukket ut til å levere/hente bøker til/fra en annen
			kunde. Vi i Boklisten kaller det Gjenbruk.
		</p>

		<h5>Hva om jeg ikke kan møte?</h5>
		<p>
			Hvis du ikke kan møte på det opgitte tidspunktet, så må du kontakte
			den du skal levere/motta fra.
		</p>

		<h5>Hva om den jeg skal sende/motta fra ikke møter?</h5>
		<p>
			Hvis den du skal motta/levere til ikke møter opp på det opgitte
			tidspunktet så ber vi deg gjøre følgende:
		</p>
		<ul>
			<li>Vent opp til 10 minutter for å se om han/hun kommer</li>
			<li>Kontakt vedkommende med angitt informasjon</li>
			<li>
				Etter 10 minutter er det mulig å gå direkte til vår stand som er
				på Metis
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<button
			class="btn btn-outline-secondary btn-block"
			(click)="c('go-back')"
		>
			Gå tilbake
		</button>
	</div>
</ng-template>
