<div class="row" *ngIf="booking">
	<div class="col-md-6 col-12">
		<span class="font-weight-bold" i18n="@@bookingDisplayDate">Date:</span>
		{{ booking.from | blcDate:'day'}} {{booking.from | blcDate:'date'}}
	</div>
	<div class="col-md-6 col-12">
		<span class="font-weight-bold" i18n="@@bookingDisplayTime">Time:</span>
		{{booking.from | blcDate:'hour'}}
	</div>
</div>

<div class="row mt-2" *ngIf="booking">
	<div class="col">
		<app-branch-location [branchId]="booking.branch"></app-branch-location>
	</div>
</div>
