<ng-template #content let-modal>
	<div class="row" *ngIf="cartStep">
		<div class="col-12 no-gutters">
			<div class="card">
				<div class="card-header">
					<div class="row justify-content-between align-items-center">
						<div class="col-auto">
							<button
								class="btn btn-outline-secondary btn-sm mr-2"
								(click)="previousStep()"
								[disabled]="stepCount === 0"
							>
								<fa-icon
									[icon]="'arrow-left'"
									[size]="'2x'"
									class="pr-2 pl-2"
								></fa-icon>
							</button>

							<button
								class="btn btn-outline-secondary btn-sm mr-2"
								(click)="nextStep()"
								[disabled]="!isNextStepPossible()"
							>
								<fa-icon
									[icon]="'arrow-right'"
									[size]="'2x'"
									class="pr-2 pl-2"
								></fa-icon>
							</button>
						</div>
						<div class="col-auto">
							<div class="order-amount">
								{{ totalAmount | blcPrice: "international" }}
							</div>
						</div>
					</div>
				</div>

				<ngb-progressbar
					[type]="progressColor"
					[height]="'2px'"
					[value]="progressWidth"
				></ngb-progressbar>

				<div class="card-body">
					<app-cart-agreement
						*ngIf="cartStep.type === 'agreement'"
						[confirmed]="
							cartStep.type === 'agreement' && cartStep.confirmed
						"
						(confirmedChange)="onConfirmStep('agreement')"
					></app-cart-agreement>

					<app-cart-checkout
						(confirmSummary)="onConfirmStep('checkout')"
						*ngIf="cartStep.type === 'checkout'"
					>
					</app-cart-checkout>

					<app-cart-delivery
						*ngIf="cartStep.type === 'delivery'"
						(confirmDelivery)="onConfirmStep('delivery')"
					></app-cart-delivery>

					<app-cart-payment
						*ngIf="cartStep.type === 'payment'"
					></app-cart-payment>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<button class="btn btn-outline-success" (click)="onOpenCheckout(content)">
	Go to checkout
</button>
