<div class="card" *ngIf="showPayment && order.payments && order.payments.length > 0">
	<div class="card-header">
		Payment details
	</div>

	<div class="card-body" *ngIf="!payments || payments.length <= 0">
        <div class="alert alert-warning" role="alert">
			<fa-icon [icon]="'exclamation-triangle'" class="mr-2"></fa-icon> Could not retrieve the payment information for this order
        </div>
	</div>

	<ul class="list-group list-group-flush">
		<li class="list-group-item" *ngFor="let payment of payments">
			<div class="row justify-content-between">
				<div class="col-auto">
					{{payment.amount | blcPrice:'international'}}
				</div>
				<div class="col-auto">
					<span class="text-success" *ngIf="payment.confirmed"><fa-icon [icon]="'check-circle'" class="mr-2"></fa-icon> Confirmed</span>
					<span class="text-danger" *ngIf="!payment.confirmed"><fa-icon [icon]="'times'" class="mr-2"></fa-icon> Not confirmed</span>
				</div>
			</div>

			<div class="row justify-content-between mt-2">
				<div class="col-auto">
					<span *ngIf="payment.method === 'card' || payment.method === 'dibs'"><fa-icon [icon]="'credit-card'" class="mr-2"></fa-icon> {{payment.method}}</span>
					<span *ngIf="payment.method === 'cash'"><fa-icon [icon]="'money-bill-alt'" class="mr-2"></fa-icon>Cash</span>
				</div>
				<div class="col-auto" *ngIf="payment.method === 'dibs'">
					<span *ngIf="payment.info['cardInfo']">{{payment.info['cardInfo']}}</span>
				</div>
			</div>

			<div class="row justify-content-end" *ngIf="payment.method === 'dibs'">
				<div class="col-auto text-sm-right text-secondary font-italic">
					<small *ngIf="payment.info['paymentId']">{{payment.info['paymentId']}}</small>
				</div>
			</div>
		</li>
	</ul>
</div>
