<div class="container">
	<div class="row">
		<div class="bl-cart-title col-12">
			Cart
		</div>
	</div>
	<div class="row" *ngIf="!showCart()">
		<div class="col-12">
			<div class="alert alert-warning">Cart is empty</div>
		</div>
	</div>
	<div class="row bl-cart-container">
		<div class="col-12 bl-cart-container">
			<app-item-display *ngFor="let cartItem of getCart()" [inCart]="true" [item]="cartItem.item" [customerItem]="cartItem.customerItem" [branch]="cartItem.branch"></app-item-display>
		</div>
	</div>
	<div class="row bl-cart-payment" *ngIf="showCart()">
		<div class="col-12">
			<div class="row">
				<div class="col-6 bl-cart-total-price">
					{{getTotalPrice()}}
				</div>
				<div class="col-6">
					<button type="button" class="btn btn-success btn-block" (click)="onPayment()">Confirm</button>
				</div>
			</div>
		</div>
	</div>
</div>
