<div class="container">
	<div class="row">
		<div class="bl-cart-title col-12">
			Cart
		</div>
	</div>
	<div class="row bl-cart-container">
		<div class="col-12 bl-cart-container">
			<app-cart-item *ngFor="let orderItem of getCart()" [orderItem]="orderItem" (remove)="onRemove($event)"></app-cart-item>
		</div>
	</div>
	<div class="row bl-cart-payment">
		<div class="col-12">
			totalPrice: {{getTotalPrice()}}
			<button type="button" class="btn btn-success" (click)="onPayment()">To payment</button>
		</div>
	</div>
</div>
