@import "../../styles";

.bl-cart-title {
	color: $secondary-color;
	font-size: 25px;
	margin-bottom: 10px;
}

.bl-cart-container {
	padding: 10px;
}

.bl-cart-payment {
	background-color: #ffffff;
	padding: 20px;
}

.bl-cart-total-price {
	font-size: 20px;
	font-weight: bold;
	color: $secondary-color;
	text-align: center;
}
