@import "../../styles";

.bl-cart-title {
	color: $secondary-color;
	font-size: 25px;
	margin-bottom: 10px;
}

.bl-cart-container {
	padding: 10px;
}


.bl-cart-payment {
	background-color: #ffffff;
	padding: 20px;
	margin: 5px;
}
