<div class="container">
	<div class="row" *ngIf="match">
		<div class="col-12">
			<div class="card">
				<div class="card-header text-right">
					<app-match-questions></app-match-questions>
				</div>
				<div class="card-body">
					<div class="row justify-content-center">
						<div class="col-auto text-secondary">
							<h5>Disse bøkene</h5>
						</div>
					</div>
					<ul class="list-group mb-5 mt-2">
						<li
							class="list-group-item"
							*ngFor="let item of itemsToRecieve"
						>
							<b>{{ item.title }}</b>
						</li>
					</ul>

					<hr />
					<div class="row justify-content-center">
						<div class="col-auto text-secondary">
							<h5>Skal mottas av</h5>
						</div>
					</div>
					<app-match-profile-card
						[profile]="match.sender"
					></app-match-profile-card>
					<hr />
					<div class="row justify-content-center">
						<div class="col-auto text-secondary">
							<h5>Dere møtes ved</h5>
						</div>
					</div>
					<app-match-location-card
						[match]="match"
					></app-match-location-card>

					<div class="mt-3">
						<app-match-confirm-location
							[match]="match"
							[customer]="reciever"
							[counterparty]="match.sender"
							(bothPartiesConfirmed)="bothPartiesConfirmed()"
						></app-match-confirm-location>
					</div>
				</div>
				<div class="card-footer">
					<app-match-handover
						[match]="match"
						[customer]="reciever"
						[counterparty]="match.sender"
					></app-match-handover>
				</div>
			</div>
		</div>
	</div>
</div>
