<app-header></app-header>

<div class="bl-content" [ngClass]="{ gutter: showGutter }">
	<app-header-alert></app-header-alert>
	<router-outlet></router-outlet>

	<!--<div class="bl-goto-footer">-->
	<!--<div class="row justify-content-center">-->
	<!--<div class="col-auto">-->
	<!--<p i18n="@@cookiesBannerText">-->
	<!--Vi bruker informasjonskapsler for at du skal kunne bruke-->
	<!--denne siden.-->
	<!--<a routerLink="/info/policies/privacy" class="bl-link"-->
	<!-->Du kan lese mer her.</a-->
	<!-->-->
	<!--</p>-->
	<!--</div>-->
	<!--<div class="col-auto">-->
	<!--<button class="btn btn-outline-info">Skjønner!</button>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
</div>

<app-footer></app-footer>

<style>
	@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
</style>
<style>
	@import url("https://fonts.googleapis.com/css?family=Montserrat:300&display=swap");
</style>
