@import "../styles";

@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.bl-content {
	min-height: 120vh;
	padding-bottom: 200px;
	margin-top: 55px;
}

.bl-header-alert {
	//padding-top: 58px;
}

.gutter {
	padding-top: 10px;
}
