
<div class="row mt-3">
	<div class="col-12">
		<div class="card">

			<div class="card-header">
				<div class="card-title">
					<h3>Delivery method</h3>
				</div>
			</div>

				<div class="list-group list-group-flush">
					<button type="button" class="list-group-item list-group-item-action" (click)="onDeliveryClick('branch')">
						<div class="row align-items-center justify-content-between">
                            <div class="col-10">
                                <h4>Get at branch</h4>
                                <p>Retrieve the items yourself at your branch</p>
                            </div>
                            <div class="col-2 align-items-center" *ngIf="deliveryMethod === 'branch'">
                                <i class="fa fa-check fa-2x"></i>
                            </div>
						</div>
					</button>

					<button type="button" class="list-group-item list-group-item-action" (click)="onDeliveryClick('bring')">
						<div class="row align-items-center justify-content-between">
                            <div class="col-10">
                                <h4>Delivery by mail</h4>
                                <p>Get the items delivered to you by Bring</p>
								<p *ngIf="currentDelivery && currentDelivery.info['amount']">Price: <b>{{currentDelivery.info['amount']}}kr</b> Delivery time: <b>{{getEstimatedDelivery()}}</b></p>
                            </div>
                            <div class="col-2 align-items-center" *ngIf="deliveryMethod === 'bring'">
                                <i class="fa fa-check fa-2x"></i>
                            </div>
						</div>
					</button>
				</div>
		</div>
	</div>
</div>
