<div class="container">
	<div class="row" *ngIf="booking">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<div>
						<app-branch-location
							[branchId]="branchId"
						></app-branch-location>
					</div>
					<div class="font-weight-bold">
						{{booking.from | blcDate:'day'}} {{booking.from |
						blcDate:'date'}}
					</div>

					<div>{{booking.from | blcDate:'hour'}}</div>
				</div>
				<div class="card-footer d-flex justify-content-end">
					<button
						class="btn btn-success btn-block"
						(click)="onConfrimBooking()"
						i18n="@@bookingConfirmComponentConfirmButton"
					>
						Confrim booking
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
