<div class="row bg-white">
	<div class="col-12">
		<span class="text-secondary bl-text-sm mb-2"
			>Gjelder for ordre gjennomført etter: 01.07.2021</span
		>
		<h2>Boklistens betingelser for utlån og salg av bøker på avdrag</h2>
	</div>
	<div class="col-12">
		<p>
			Det avtales herved at Boklisten.no AS, heretter kalt Boklisten,
			selger bøker på avdrag til kunder, eller låner ut bøker til elever
			ved VGS.
		</p>
		<p></p>
		<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
			<h3>Avdragssalg</h3>
			<h4>Kjøp av bøker på avdrag</h4>
			<p>
				Ved avdragskjøp avtales pris på begge avdrag ved
				kjøpstidspunktet, og første avdrag betales innen mottak av
				boken. Det avtales for hver enkelt bok om andre avdrag forfaller
				ved nærmeste 20.november eller 1.juni. Du kan enkelt logge deg
				på nettsiden for å betale andre avdrag før betalingsfristen.
			</p>
			<p>
				Boklisten har salgspant i den utleverte vare inntil den fulle
				kjøpesummen er betalt. Boklisten vil bare akseptere at godt
				vedlikeholdte varer returneres. Boklisten vil kunne tilby kunden
				å utsette betalingsfristen for andre avdrag med ett semester mot
				et gebyr.
			</p>
			<p>
				Et gebyr på 400 kroner per bok vil påløpe 1 måned etter forfall
				av andre avdrag hvis dette ikke er betalt eller panteobjektet er
				returnert.
			</p>
			<h4>Boklistens gjenbruksprogram</h4>
			<p>
				Boklisten ønsker å bidra til et bedre miljø ved vår virksomhet.
				Dette gjør vi ved å gjøre det enkelt å gjenbruke bøker. For å
				kunne kjøpe bøker på avdrag godtar du å bli med i Boklistens
				gjenbruksprogram og du vil kunne motta generaliserte mailer om
				betalingsfrister, spørreundersøkelser, Boklistens innkjøpslister
				og -priser samt informasjon fra samarbeidspartnere. Dette
				samtykket kan når som helst trekkes tilbake og medlemskapet i
				vårtgjenbruksprogram utløper automatisk ett år etter at siste
				avdrag er betalt.
			</p>
			<h3>Utlån til elever ved VGS</h3>
			<h4>Tidspunkt for tilbakelevering av lånte bøker</h4>
			<p>
				Utlånte bøker må leveres tilbake ved skoleårets slutt, senest 1.
				juli eller annen frist som er avtalt når du låner boken. Det er
				ditt ansvar å levere tilbake boken og informasjon om
				tilbakelevering vil finnes på Boklistens nettsider. Ved å låne
				bøker godtar du at Boklisten sender deg påminnelser om
				tilbakelevering av bøker.
			</p>
			<h4>Tilbakelevering av bøker du har lånt</h4>
			<p>
				Ved tilbakelevering av lånte bøker må de være i god stand.
				Boklisten har ensidig rett til å avgjøre om en bok aksepteres
				eller må erstattes. Det anbefales derfor å behandle bøkene pent
				og bruke bokbind. Se mer informasjon på nettsidene til
				Boklisten.no om hva som godtas ved tilbakelevering av bøker.
				Bøker som ikke leveres tilbake fra elever eller er ødelagte,
				mistes eller av annen grunn ikke leveres innen fristen må
				erstattes med forlagenes listepris + prisjustering på 10% +
				gebyr på 120 kr per bok.
			</p>
			<h3>Generelt</h3>
			<h4>Betingelser for utlevering av bøker fra Boklisten</h4>
			<p>
				Boklisten forbeholder seg retten til å bestemme hvor og når
				bøker utleveres, men vil alltid tilby overlevering av dine bøker
				på minst en av følgende måter:
			</p>
			<ul>
				<li>På en stand organisert av Boklisten.</li>
				<li>Via sending i post fra Boklisten.</li>
				<li>
					Direkte fra en person som Boklisten bestemmer. Dette er
					aktuelt hvis noen andre er i besittelse av boken du skal
					motta og Boklisten vil bestemme et rimelig tidspunkt og sted
					for overlevering av boken. Ditt navn og telefonnummer vil
					bli gitt til den som skal gi deg boken.
				</li>
			</ul>
			<h4>
				Betingelser for mottak av bøker som Boklisten kjøper inn eller
				tilbakelevering av bøker som er lånt ut via/fra Boklisten
			</h4>
			<p>
				Boklisten forbeholder seg retten til å bestemme hvor og når
				bøker mottas, men vil alltid akseptere å motta dine bøker på
				minst en av følgende måter:
			</p>
			<ul>
				<li>På en stand organisert av Boklisten.</li>
				<li>Via sending i post fra Boklisten.</li>
				<li>
					Direkte fra en person som Boklisten bestemmer. Dette er
					aktuelt hvis noen andre er i besittelse av boken du skal
					motta og Boklisten vil bestemme et rimelig tidspunkt og sted
					for overlevering av boken. Ditt navn og telefonnummer vil
					bli gitt til den som skal gi deg boken.
				</li>
			</ul>
			<h4>Kontaktinformasjon</h4>
			<p>Boklistens kontaktinformasjon er per juni 2021 følgende:</p>
			<p>Adresse: Postboks 8, 1316 Eiksmarka</p>
			<p>Telefon: 91002211</p>
			<p>
				E-post: <a href="mailto:info@boklisten.no">info@boklisten.no</a>
			</p>
			<h4>Norsk rett</h4>
			<p>
				Denne avtale reguleres av norsk rett. Eventuelle tvister med
				utspring i avtaleforholdet skal avgjøres ved behandling i de
				ordinære domstoler. Oslo tingrett skal være verneting.
			</p>
		</div>
		<div *ngIf="collapsable" class="d-flex justify-content-center mb-3">
			<button
				type="button"
				class="btn btn-outline-primary"
				(click)="collapse.toggle()"
				[attr.aria-expanded]="!isCollapsed"
				aria-controls="collapseExample"
			>
				<span *ngIf="isCollapsed">Les mer</span>
				<span *ngIf="!isCollapsed">Skjul betingelser</span>
			</button>
		</div>
	</div>
</div>
