

<div class="container">
	<div class="row">
		<div class="col-12">

			<h3>Er du klar for å leie bøker?</h3>

			<p>Boklisten.no gjør det enkelt for deg å leie de skolebøkene du trenger til din skolegang. Det eneste
			du trenger å gjøre er å registrere deg.</p>


		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<button class="btn btn-info" (click)="onRegisterClick()">Register</button>
			<button class="btn btn-success" (click)="onLoginClick()">Login</button>

			<button class="btn btn-success" (click)="onTestUserClick()">test user</button>
		</div>
	</div>
</div>
