

.bl-timeline-border {
	border-left: dotted 10px #7f7f7f;
	height: 60px;
}

.bl-frontpage-title {
}


.bl-timeline-header {
	border: 10px solid #26768f;
	border-radius: 50px;
}

.bl-timeline-title {
	font-weight: bold;
}
