

<div class="container">
	<div class="row">
		<div class="col-12">

			<h3 i18n="welcome headline|a short pitch of what we do@@welcomeHeadline">Are you ready to rent some books?</h3>

			<p i18n="welcome paragraph|a short intro about what we are@@welcomeParagraph">Boklisten does it easy for you to rent books, easy for you, and saves the planet one page at a time.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<button class="btn btn-info" (click)="onRegisterClick()" i18n="@@registerButton">Register</button>

			<button class="btn btn-success" (click)="onLoginClick()" i18n="@@loginButton">Login</button>
		</div>
	</div>
</div>
