.bl-timeline-border {
	border-left: dotted 10px #7f7f7f;
	height: 60px;
}

.bl-frontpage-title {
}

.bl-timeline-header {
	border: 10px solid #26768f;
	border-radius: 50px;
}

.bl-timeline-title {
	font-weight: bold;
}

.welcome-display {
	background-color: #2b697d;
	color: white;
	padding-top: 30px;
	padding-bottom: 60px;
	border-bottom: 5px solid #283d3b;
}

.welcome-button {
	background-color: #89028c;
	padding: 20px;
	color: white;
}

.welcome-title {
	font-family: "Acme", cursive;
}
