<div class="row justify-content-between">
	<div class="col-auto">
		<h5>{{orderItem.title}}</h5>
	</div>
	<div class="col-auto" *ngIf="orderItem.amount !== 0">
		{{orderItem.amount | blcPrice}}
	</div>
</div>
<div class="row">
	<div class="col-auto text-secondary">
		<div *ngIf="orderItem.type === 'rent'">
			<fa-icon [icon]="'calendar-alt'" class="mr-2"></fa-icon>
			<span i18n="@@orderItemInfoTypeRent">Rent</span>
			<fa-icon [icon]="'arrow-right'" class="ml-2 mr-2"></fa-icon>
			<b>{{orderItem.info.to | blcDate}}</b>
		</div>
		<div *ngIf="orderItem.type === 'extend'">
			<fa-icon [icon]="'calendar-plus'" class="mr-2"></fa-icon>
			<span i18n="@@orderItemInfoTypeExtend">Extend</span>
			<fa-icon [icon]="'arrow-right'" class="ml-2 mr-2"></fa-icon>
			<b>{{orderItem.info.to | blcDate}}</b>
		</div>

		<div *ngIf="orderItem.type === 'buy' || orderItem.type === 'buyout'">
			<fa-icon [icon]="'money-bill-alt'" class="mr-2"></fa-icon>
			<span i18n="@@orderItemInfoTypeBuy">Buy</span>
		</div>
	</div>
</div>
