<div class="container">
	<div class="row" *ngIf="match">
		<div class="col-12 mb-2" *ngFor="let reciever of match.recievers">
			<div class="card">
				<div class="card-header text-right">
					<app-match-questions></app-match-questions>
				</div>
				<div class="card-body">
					<div class="row justify-content-center">
						<div class="col-auto"><h5>Disse bøkene</h5></div>
					</div>
					<ul class="list-group mt-2">
						<li
							class="list-group-item d-flex justify-content-between align-items-center"
							*ngFor="
								let item of getItemsForReciever(match, reciever)
							"
						>
							<b>{{ item.title }}</b>
						</li>
					</ul>

					<div class="row justify-content-center mt-3">
						<div class="col-auto"><h5>Skal leveres til</h5></div>
					</div>
					<app-match-profile-card
						[profile]="reciever"
					></app-match-profile-card>
					<hr />
					<div class="row justify-content-center">
						<div class="col-auto"><h5>Dere møtes ved</h5></div>
					</div>
					<app-match-location-card
						[match]="match"
					></app-match-location-card>
					<div class="mt-3">
						<app-match-confirm-location
							[match]="match"
							[customer]="match.sender"
							[counterparty]="reciever"
							(bothPartiesConfirmed)="
								bothPartiesConfirmed($event)
							"
						></app-match-confirm-location>
					</div>
				</div>

				<div class="card-footer">
					<app-match-handover
						[match]="match"
						[customer]="match.sender"
						[counterparty]="reciever"
						[sender]="true"
					></app-match-handover>
				</div>

				<div class="card-footer" *ngIf="false === true">
					<div
						class="row justify-content-center mt-2 align-items-center"
					>
						<div class="col-lg-4 col-md-12">
							<button
								class="btn btn-outline-danger btn-block"
								(click)="open(didNotComeContent)"
							>
								Mottaker har ikke møtt opp
							</button>
						</div>
					</div>
				</div>

				<ng-template #didNotComeContent let-d="dismiss">
					<div class="modal-header">
						<h4 class="modal-title" id="modal-basic-title">
							Mottaker møtte ikke opp
						</h4>
						<button
							type="button"
							class="close"
							aria-label="Close"
							(click)="d('Cross click')"
						>
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p class="mb-3">
							Hvis {{ reciever.name }} ikke har møtt opp innen 10
							minutter etter avtalt tid, kan du gå til vår stand
							for å levere dine bøker. Vi ber deg derimot å prøve
							å kontakte {{ reciever.name }} først.
						</p>
						<app-match-profile-card
							[profile]="reciever"
						></app-match-profile-card>
					</div>
				</ng-template>
			</div>
		</div>
	</div>
</div>
