<div class="container">
	<div class="row" *ngFor="let match of matches">
		<div class="col-12">
			<div class="card" *ngFor="let reciever of match.recievers">
				<div class="card-header text-center"></div>
				<div class="card-body">
					<div class="row justify-content-center">
						<div class="col-auto"><h5>Disse bøkene</h5></div>
					</div>
					<ul class="list-group mb-5 mt-2">
						<li
							class="list-group-item"
							*ngFor="
								let item of getItemsForReciever(match, reciever)
							"
						>
							<h5>{{ item.title }}</h5>
						</li>
					</ul>

					<hr />
					<div class="row justify-content-center">
						<div class="col-auto"><h5>Skal levers til</h5></div>
					</div>
					<app-match-profile-card
						[profile]="reciever"
					></app-match-profile-card>
					<hr />
					<div class="row justify-content-center">
						<div class="col-auto"><h5>Dere møtes ved</h5></div>
					</div>
					<app-match-location-card
						[match]="match"
					></app-match-location-card>
				</div>
				<div class="card-footer">
					<div class="row justify-content-center mt-2">
						<div class="col-6">
							<button class="btn btn-success btn-lg btn-block">
								<fa-icon
									[icon]="'flag-checkered'"
									class="mr-2"
								></fa-icon>
								Jeg bekrefter at dette er gjort
							</button>
						</div>
					</div>
					<div class="row justify-content-center mt-2">
						<div class="col-6">
							<button class="btn btn-link btn-block">
								Jeg har spørsmål
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
