<ul class="list-group" *ngIf="showMenu">
	<li
		class="list-group-item list-group-item-action"
		(click)="onMenuItemClick('info')"
	>
		<fa-icon [icon]="'info-circle'" class="mr-2"></fa-icon>
		<span class="bl-header-menu-name" i18n="@@headerMenuGeneralInfo"
			>General info</span
		>
	</li>
	<li
		class="list-group-item list-group-item-action"
		(click)="onMenuItemClick('branch')"
		*ngIf="isLoggedIn()"
	>
		<fa-icon [icon]="'graduation-cap'" class="mr-2"></fa-icon>
		<span class="bl-header-menu-name" i18n="@@headerMenuSchoolInfo"
			>School info</span
		>
	</li>

	<li
		class="list-group-item list-group-item-action bg-light"
		(click)="onMenuItemClick('user-items')"
		*ngIf="isLoggedIn()"
	>
		<fa-icon [icon]="'book-open'" class="mr-2"></fa-icon>
		<span class="bl-header-menu-name" i18n="@@headerMenuYourItems"
			>Your items</span
		>
	</li>
	<li
		class="list-group-item list-group-item-action bg-light"
		(click)="onMenuItemClick('user-orders')"
		*ngIf="isLoggedIn()"
	>
		<fa-icon [icon]="'receipt'" class="mr-2"></fa-icon>
		<span class="bl-header-menu-name" i18n="@@headerMenuOrderHistory"
			>Order history</span
		>
	</li>
	<li
		class="list-group-item list-group-item-action bg-secondary text-white"
		(click)="onMenuItemClick('user-settings')"
		*ngIf="isLoggedIn()"
	>
		<fa-icon [icon]="'user-cog'" class="mr-2"></fa-icon>
		<span class="bl-header-menu-name" i18n="@@headerMenuUserSettings"
			>User setting</span
		>
	</li>
	<li
		class="list-group-item list-group-item-action bg-danger text-white"
		(click)="onMenuItemClick('logout')"
		*ngIf="isLoggedIn()"
	>
		<fa-icon [icon]="'sign-out-alt'" class="mr-2"></fa-icon>
		<span class="bl-header-menu-name" i18n="@@headerMenuLogout"
			>Logout</span
		>
	</li>

	<li
		class="list-group-item list-group-item-action bg-primary text-white"
		(click)="onMenuItemClick('register')"
		*ngIf="!isLoggedIn()"
	>
		<fa-icon [icon]="'user-plus'" class="mr-2"></fa-icon>
		<span class="bl-header-menu-name" i18n="@@headerMenuRegister"
			>Register</span
		>
	</li>
	<li
		class="list-group-item list-group-item-action bg-success text-white"
		(click)="onMenuItemClick('login')"
		*ngIf="!isLoggedIn()"
	>
		<fa-icon [icon]="'sign-in-alt'" class="mr-2"></fa-icon>
		<span class="bl-header-menu-name" i18n="@@headerMenuLogin">Login</span>
	</li>
</ul>
