<div class="container bg-white pt-3 pt-sm-3 pt-md-0 p-md-5 p-lg-5 p-xl-5">
	<div class="row">
		<div class="col">
			<h4>{{forCompaniesTitle}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
				{{forCompaniesDesc}}
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h5>{{forCompaniesList.title}}</h5>
		</div>
		<div class="col-12">
			<ul>
				<li *ngFor="let listItem of forCompaniesList.listItems">
					{{listItem}}
				</li>
			</ul>
		</div>
	</div>

	<div class="row mt-5" *ngFor="let forCompaniesText of forCompaniesTexts">
		<div class="col-12">
			<h5>{{forCompaniesText.title}}</h5>
		</div>
		<div class="col-12">
			<p *ngFor="let textBlock of forCompaniesText.textBlocks">
				{{textBlock}}
			</p>
		</div>
	</div>
</div>
