

<div class="card" *ngIf="branch && branch.contactInfo">
	<div class="card-body">
		<h5><span i18n="@@branchContactInfoTitle">Contact info for</span>{{branch.name}}</h5>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<b i18n="@@branchContactInfoAddress">Address:</b> {{branch.contactInfo.address}}, {{branch.contactInfo.postCode}} {{branch.contactInfo.postCity}}
		</li>

		<li class="list-group-item">
			<b i18n="@@branchContactInfoEmail">Email:</b> {{branch.contactInfo.email}}
		</li>
	</ul>
</div>
