<div class="card" *ngIf="branch">
	<div class="card-header">
		<span
			class="font-weight-bold text-secondary"
			i18n="@@branchOpeningHoursTitle"
			>Opening hours</span
		>
	</div>

	<app-blc-spinner [loading]="loading"></app-blc-spinner>

	<div
		class="card-body"
		*ngIf="(!openingHours || openingHours.length <= 0) && !loading && (branch.name == 'Akademiet Oslo' || branch.name == 'Metis Oslo' || branch.name == 'Sonans Oslo')"
	>
		<div class="alert alert-secondary text-center align-items-center">
			<div>
				Vår innsamling i Oslo er flyttet til et felles punkt. Sjekk ut:
			</div>
			<button
				class="btn btn-success mt-2"
				routerLink="/info/branch/5ec28bf21ffe48001c194bc7"
			>
				Oslo innsamling
			</button>
		</div>
	</div>

	<div
		class="card-body"
		*ngIf="(!openingHours || openingHours.length <= 0) && !loading && branch.name.indexOf('Oslo') <= -1 && branch.name.indexOf('Wang') <= -1 && branch.name.indexOf('Otto Treider') <= -1"
	>
		<div class="alert alert-secondary">
			<span i18n="@@branchOpeningHoursNotFound"
				>The season is over - or the opening hours is not ready
				yet.</span
			>
			<span class="ml-1" i18n="@@branchopeningHoursContactUs"
				>Contact us at info@boklisten.no or order by mail!</span
			>
		</div>
	</div>
	<div class="card-body" *ngIf="branch.name.indexOf('Wang') >= 0">
		<p>
			Innsamling av utlånsbøker vil finne sted på skolen på følgende
			tidspunkt:
		</p>
		<img src="../../../assets/img/wang_june_2020.png" />

		<div>
			<br />
			<h4>Husk å holde god avstand i køen!</h4>

			<p>
				Alle bøker som leveres inn må være merket med navn og årstall.
				Vi vil ikke ta imot umerkede bøker –merk bøkene dine nå!
			</p>
			<p>Husk at du gjerne kan la noen andre levere dine bøker.</p>
			<p>
				Ta med penger (eller kort) for å erstatte bøker du ikke leverer
				tilbake.
			</p>
			<p>
				Bøker kan også sendes oss i posten. Vi vil sende ut informasjon
				om alternativt leveringssted etter 17.juni.
			</p>
			<p>
				Etter 1. juli <strong>tar vi ikke imot bøker</strong>. Det betyr
				at boken må erstattes!
			</p>
		</div>
	</div>

	<div class="card-body" *ngIf="branch.name.indexOf('Otto Treider') >= 0">
		<p>
			Innsamling av utlånsbøker vil finne sted på skolen på følgende
			tidspunkt:
		</p>
		<table *ngIf="branch.name == 'Otto Treider VG1'">
			<tr>
				<th>Dato</th>
				<td>Onsdag 17. juni</td>
			</tr>
			<tr>
				<th>1A</th>
				<td>09.00-09.40</td>
			</tr>
			<tr>
				<th>1B</th>
				<td>09.40-10.20</td>
			</tr>
			<tr>
				<th>1C</th>
				<td>10.20-11.00</td>
			</tr>
			<tr>
				<th>1D</th>
				<td>11.00-11.40</td>
			</tr>
		</table>

		<table *ngIf="branch.name == 'Otto Treider VG2'">
			<tr>
				<th>Dato</th>
				<td>Onsdag 17. juni</td>
			</tr>
			<tr>
				<th>2A</th>
				<td>12.00-12.40</td>
			</tr>
			<tr>
				<th>2B</th>
				<td>12.40-13.20</td>
			</tr>
			<tr>
				<th>2C</th>
				<td>13.20-14.00</td>
			</tr>
		</table>

		<table *ngIf="branch.name == 'Otto Treider VG3'">
			<tr>
				<th>Dato</th>
				<td>Onsdag 17. juni</td>
			</tr>
			<tr>
				<th>3A</th>
				<td>14.10-14.50</td>
			</tr>
			<tr>
				<th>3B</th>
				<td>14.50-15.30</td>
			</tr>
		</table>

		<div>
			<br />
			<h4>Husk å holde god avstand i køen!</h4>

			<p>
				Alle bøker som leveres inn må være merket med navn og årstall.
				Vi vil ikke ta imot umerkede bøker –merk bøkene dine nå!
			</p>
			<p>Husk at du gjerne kan la noen andre levere dine bøker.</p>
			<p>
				Ta med penger (eller kort) for å erstatte bøker du ikke leverer
				tilbake.
			</p>
			<p>
				Bøker kan også sendes oss i posten. Vi vil sende ut informasjon
				om alternativt leveringssted etter 17.juni.
			</p>
			<p>
				Etter 1. juli <strong>tar vi ikke imot bøker</strong>. Det betyr
				at boken må erstattes!
			</p>
		</div>
	</div>

	<ul
		class="list-group list-group-flush"
		*ngIf="openingHours && openingHours.length > 0"
	>
		<li class="list-group-item" *ngFor="let openingHour of openingHours">
			<div class="row justify-content-between">
				<div class="col-auto">
					<span class="mr-2 text-secondary font-weight-bold"
						>{{ openingHour.from | blcDate: "day" }} {{
						openingHour.from | blcDate: "date" }}</span
					>
				</div>
				<div class="col-auto">
					<span>{{ openingHour.from | blcDate: "hour" }}</span>
					<fa-icon
						[icon]="'arrow-right'"
						class="mr-2 ml-2 text-secondary"
					></fa-icon>
					<span>{{ openingHour.to | blcDate: "hour" }}</span>
				</div>
			</div>
		</li>
	</ul>
</div>
