
<div class="row justify-content-center" *ngIf="!currentPayment">
	<div class="col-auto text-info">
		<fa-icon [icon]="'circle-notch'" [spin]="true" [size]="'3x'"></fa-icon>
	</div>
</div>

<div class="row" *ngIf="failure">
	<div class="col-12">
		<div class="alert alert-secondary" role="alert">
			<fa-icon [icon]="'exclamation-circle'" class="mr-2"></fa-icon>
			<span i18n="@@cartPaymentWaitingForDeliveryError">Waiting for a valid delivery</span>
		</div>
	</div>
</div>

<div class="row" *ngIf="currentPayment && showDibsPayment && !failure">
	<div class="col-12">
		<app-cart-payment-dibs></app-cart-payment-dibs>
	</div>
</div>




