<div class="row mb-3">
	<div class="col-12">
		<div class="btn-group btn-group-toggle btn-group-lg btn-block" ngbRadioGroup name="paymentMethod" [(ngModel)]="paymentMethod">
            <label ngbButtonLabel class="btn-outline-info">
                <input ngbButton type="radio" value="dibs" >Pay now
            </label>
            <label ngbButtonLabel class="btn-outline-info">
                <input ngbButton type="radio" value="later">Pay later at branch
            </label>
        </div>
	</div>
</div>

<div class="row" *ngIf="paymentMethod === 'dibs'">
	<div class="col-7">
		<app-cart-payment-dibs (payment)="onPaymentUpdate($event)"></app-cart-payment-dibs>
		<div class="row">
			<div class="col-12">
				total price: {{getTotalPrice()}}kr
			</div>
		</div>
	</div>
</div>

<div class="row mt-5 justify-content-center" *ngIf="paymentMethod === 'later'">
	<div class="col-12 align-items-center">
		<div class="row bl-pay-later">
			<div class="col-6">
				Pay <b>{{getTotalPrice()}}kr</b> later at branch
			</div>
			<div class="col-6">
				<button class="btn btn-block btn-success" (click)="onPayLaterConfirm()">
					Confirm
				</button>
			</div>
		</div>
	</div>
</div>



