
<div class="row">
    <div class="col-12" *ngIf="!isCustomerItem()">
        <div class="btn-group btn-group-toggle btn-group-sm" ngbRadioGroup name="typeSelect" [(ngModel)]="typeSelect">
            <label ngbButtonLabel class="btn-outline-info" *ngIf="rentSemesterOption">
                <input ngbButton type="radio" value="one" (click)="onTypeUpdate('one')">one semester
            </label>
            <label ngbButtonLabel class="btn-outline-info" *ngIf="rentYearOption">
                <input ngbButton type="radio" value="two" (click)="onTypeUpdate('two')">one year
            </label>
			<label ngbButtonLabel class="btn-outline-info" *ngIf="buyOption">
                <input ngbButton type="radio" value="buy" (click)="onTypeUpdate('buy')">buy
            </label>
        </div>
    </div>

	<div class="col-12" *ngIf="isCustomerItem()">
        <div class="btn-group btn-group-toggle btn-group-sm" ngbRadioGroup name="typeSelect" [(ngModel)]="typeSelect">
            <label ngbButtonLabel class="btn-outline-info">
                <input ngbButton type="radio" value="extend" (click)="onTypeUpdate('extend')">extend
            </label>
            <label ngbButtonLabel class="btn-outline-info">
                <input ngbButton type="radio" value="buyout" (click)="onTypeUpdate('buyout')">buyout
            </label>
        </div>
    </div>

	<div class="col-12 bl-cart-item-type-select-text">
		<i>{{desc}}</i>
    </div>
</div>
