
<div class="row justify-content-center" *ngIf="branchItem">
    <div class="col-auto" *ngIf="!isCustomerItem()">
        <div class="btn-group btn-group-toggle btn-group-sm" ngbRadioGroup name="typeSelect" [(ngModel)]="typeSelect">
            <label ngbButtonLabel class="btn-outline-secondary" *ngIf="rentSemesterOption">
                <input ngbButton type="radio" value="semester" (click)="onTypeUpdate('semester')">
				<span class="ml-2 mr-2 bl-text-sm" i18n="@@itemTypeSelectSemesterButton">semester</span>
            </label>
            <label ngbButtonLabel class="btn-outline-secondary" *ngIf="rentYearOption">
                <input ngbButton type="radio" value="year" (click)="onTypeUpdate('year')">
				<span class="mr-2 ml-2 bl-text-sm" i18n="@@itemTypeSelectYearButton">year</span>
            </label>
			<label ngbButtonLabel class="btn-outline-secondary" *ngIf="buyOption">
				<input ngbButton type="radio" value="buy" (click)="onTypeUpdate('buy')">
				<span class="mr-2 ml-2 bl-text-sm" i18n="@@itemTypeSelectBuyButton">buy</span>
            </label>
        </div>
    </div>

	<div class="col-auto" *ngIf="customerItem">
        <div class="btn-group btn-group-toggle btn-group-sm" ngbRadioGroup name="typeSelect" [(ngModel)]="typeSelect">
            <label ngbButtonLabel class="btn-outline-info">
                <input ngbButton type="radio" value="extend" (click)="onTypeUpdate('extend')">
				<span class="mr-2 ml-2 bl-text-sm" i18n="@@itemTypeSelectExtendButton">extend</span>
            </label>
            <label ngbButtonLabel class="btn-outline-info">
                <input ngbButton type="radio" value="buyout" (click)="onTypeUpdate('buyout')">
				<span class="mr-2 ml-2 bl-text-sm" i18n="@@itemTypeSelectBuyoutButton">buyout</span>
            </label>
        </div>
    </div>

	<div class="col-12 mt-1 text-secondary text-center bl-text-xs">
		<span *ngIf="typeSelect === 'semester' || typeSelect === 'year'" class="bl-text-xs">
			<fa-icon [icon]="'calendar-alt'" class="mr-2"></fa-icon>
			<span i18n="@@itemTypeSelectInfoRent">rent</span>
			<fa-icon [icon]="'arrow-right'" class="mr-2 ml-2"></fa-icon>
			{{getDate(typeSelect) | blcDate}}
		</span>
		<span *ngIf="typeSelect === 'extend'">
			<fa-icon [icon]="'calendar-plus'" class="mr-2"></fa-icon>
			<span i18n="@@itemTypeSelectInfoExtend">extend</span>
			<fa-icon [icon]="'arrow-right'" class="mr-2 ml-2"></fa-icon>
			{{getDate(typeSelect) | blcDate}}
		</span>
		<span *ngIf="typeSelect === 'buy'">
			<fa-icon [icon]="'money-bill-wave'" class="mr-2"></fa-icon>
			<span i18n="@@itemTypeSelectInfoBuy">buy</span>
		</span>
    </div>
</div>
