/* You can add global styles to this file, and also import other style files */

$primary-color: #26768f;
$secondary-color: #283d3b;
$alert-color: #e63946;
$success-color: #53dd6c;
$warning-color: #ee8434;

body {
	margin: 0;
}



