/* You can add global styles to this file, and also import other style files */

$primary-color: #26768f;
$secondary-color: #283d3b;
$alert-color: #e63946;
$success-color: #53dd6c;
$warning-color: #ee8434;


.bl-text-xs {
	font-size: 10px;
}

.bl-text-sm {
	font-size: 12px;
}

.bl-text-md {
	font-size: 15px;
}

.bl-text-lg {
	font-size: 20px;
}

.bl-pointer {
	cursor: pointer;
}

body {
	margin: 0;
	background-color: #adadad;
}

a {
	color: inherit;
	cursor: pointer;
}

a:link {
	color: inherit;
}

a:link:hover {
	color: inherit;
}

a:visited {
	color: inherit;
}

.bl-nav-btn-active {
	border-bottom: solid 3px #26768f;
	border-radius: 0;
}

.nav-pills .nav-link {
	border-radius: 0 !important;
}

.bl-body {
	background-color: #e3e3e3;
}


.bl-item-display-container {
	background-color: #ffffff;
	margin-bottom: 10px;
	border-radius: 3px;
	padding: 10px;
}

.bl-item-display-container-disabled {
	@extend .bl-item-display-container;
	background-color: #a4a4a433;
}

.bl-item-display-container-warning {
	@extend .bl-item-display-container;
	border: 5px solid $warning-color;
}



.bl-item-display-container-your-item {
	@extend .bl-item-display-container;
	border: 5px solid $primary-color;
}

.bl-item-display-your-item {
	background-color: $primary-color;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	margin-left: 5px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

}


.bl-item-title {
	cursor: pointer;
	font-size: 25px;
}

.bl-item-title:hover {
	text-decoration: underline;
}

.bl-item-image {
	text-align: center;
	background-color: #ececec;
	color: #cfcfcf;
	height: 60px;
	width: 50px;
	line-height: 70px;
}

.bl-item-text {
	padding-top: 10px;
}

.bl-item-select {
	text-align: center;
	line-height: 92px;
	padding-top: 20px;
}

.bl-link {
	cursor: pointer;
}

.bl-link:hover {
	text-decoration-color: #ffffff;
	text-decoration: underline;
}

.bl-link-black {
	@extend .bl-link;
}

.bl-link-black:hover {
	text-decoration-color: #000000;
	text-decoration: underline;
}


// BOOTSTRAP SPECIFIC

.card-header {
	padding: 0.3rem;
}
.card-body {
	padding: 0.5rem;
}

.card-footer {
	padding: 0.3rem;
}

.card-header {
	padding: 0.3rem;
}



