/* You can add global styles to this file, and also import other style files */

$primary-color: #26768f;
$secondary-color: #283d3b;
$alert-color: #e63946;
$success-color: #53dd6c;
$warning-color: #ee8434;

body {
	margin: 0;

	background-color: #adadad;
}

.bl-body {
	background-color: #e3e3e3;
}


.bl-item-display-container {
	background-color: #ffffff;
	margin-bottom: 10px;
	border-radius: 3px;
	padding: 10px;
}

.bl-item-image {
	text-align: center;
	background-color: #9f9f9f;
	color: #ffffff;
	line-height: 92px;
}

.bl-item-text {
	padding-top: 10px;
}

.bl-item-select {
	text-align: center;
	line-height: 92px;
	padding-top: 20px;
}



