<h3>Informasjon vedrørende Covid-19</h3>
<br />
<p><strong>Innkjøpsliste</strong></p>
<p>
	Vi kjøper kun inn bøker som står på innkjøpslisten. Sjekk gjerne listen før
	du booker tid, så slipper du å dra på stand med bøker vi ikke tar imot. Du
	kan finne innkjøpslisten her:
	<a href="https://www.boklisten.no/info/buyback">
		https://www.boklisten.no/info/buyback
	</a>
</p>
<p><strong>Booking av tid for tilbakekjøp</strong></p>
<p>
	Denne våren har vært annerledes for de fleste av oss, og på grunn av det
	vedvarende utbruddet av korona, har vi i Boklisten.no måttet gjøre endringer
	på hvordan vi tar imot bøker.
</p>
<p>
	Den største endringen er at du nå må booke tid for å komme innom på stand.
	Alle våre åpningstider har nå intervaller på 5 minutter der du kan komme
	innom med bøkene dine. Booking er enkelt å gjøre på nettsiden vår –
	<a href="http://www.boklisten.no/">www.boklisten.no</a>. Dette sikrer at vi
	ikke får kødannelse på vår stand, og du kan være trygg på at du ikke må være
	i nærheten av mange andre kunder samtidig.
</p>
<p>
	Dersom du allikevel ikke kan komme på tidspunktet du har booket, blir vi
	glad om du kansellerer bookingen din. Da åpner du tid for at noen andre kan
	komme innom med bøkene sine!
</p>
<p><strong>Kan jeg komme uten booking?</strong></p>
<p>
	Ja, du kan komme til vår stand uten booking. Hvis du er heldig, kan du få
	levert bøkene dine på denne måten. Du må imidlertid belage deg på å bli
	nedprioritert etter de som har booket. Du må også passe på å holde god
	avstand til de som faktisk har booket tid.
</p>
<p>
	Det er veldig enkelt å booke tid på nettsiden vår, så for å sikre deg selv
	og andre anbefaler vi på det sterkeste at du gjør det!
</p>
<p><strong>Hvor er vi? Når er det åpent?</strong></p>
<p>
	For å minimere smitterisiko på de forskjellige skolene, vil vi ha et felles
	stand-område hele juni i Oslo-området. Dersom du vil booke tid i Oslo, må du
	derfor booke tid via filialen «Oslo innsamling». Vi vil stå i et godt
	markert telt utenfor Sonans, adressen er Pilestredet 56.
</p>
<p align="justify">
	I de andre byene er vi i hovedsak tilstede på alle skolene. Sjekk våre
	åpningstider her:
	<a href="https://www.boklisten.no/info/branch">
		https://www.boklisten.no/info/branch
	</a>
</p>
<p><strong>Sende bøker i posten</strong></p>
<p>
	Tilbakekjøp av bøker kan også skje hvis du sender dem til:
	<strong>Boklisten.no AS, Postboks 8, 1316 Eiksmarka</strong>. Husk å legge
	ved et ark hvor du skriver ditt navn, telefonnummer, og hvilke bøker du
	selger til oss. Du bør også sende en pakke med sporing, og beholde sporingen
	inntil leveringen er registrert.
	<em>
		Vi kan ikke garantere at vi kjøper inn bøkene dine bare fordi du har
		sendt dem til oss.
	</em>
	Dersom du er usikker på om boken din kan kjøpes tilbake, viser vi til
	innkjøpslisten. Vi krever også at boken er i god nok stand til at vi kan
	bruke den igjen. Tror du boken din kanskje er i grenseland, kan du sende oss
	et bilde av den for godkjennelse før du sender boken.
</p>
<p><strong>Utsette betalingsfristen for andre avdrag</strong></p>
<p>
	Ettersom en del av dere har måttet utsette eksamen som følge av
	koronakrisen, har vi åpnet for å utsette fristen for å betale andre avdrag.
	Dette koster 50 kroner per bok, og endrer fristen for å betale andre avdrag
	fra 1.juli til 20.desember. Forlengelse kan gjøres på nettsiden, eller ved å
	overføre 50 kroner til vårt Vipps-nummer 33415 og sende en mail om hvilke
	bøker det gjelder til
	<a href="mailto:info@boklisten.no">info@boklisten.no</a>.
</p>
<p><strong>Betale andre avdrag</strong></p>
<p>
	Dersom du ønsker å beholde boken din, kan du betale andre avdrag nå. Dette
	kan du gjøre ved å logge deg inn på våre nettsider og betale der. Du kan
	også betale på stand, eller via Vipps-nummer 33415. Ønsker du å bruke Vipps,
	kan du sende oss en mail om dette. Andre avdrag er på 33% av bokens nypris,
	så lenge du betaler før fristen 1.juli. Sjekk «dine bøker» på nettsiden for
	nøyaktig sum.
</p>
