<div class="row justify-content-center">
	<div class="col-auto" *ngIf="showPartlyPaymentInfo">
		<h2 i18n="@@cartPartlyPaymentInfoTitle">About partly payments</h2>
		<p>
			Du betaler restbeløpet på det oppgitte tidspunktet. Restbeløpet
			betales ved vår bokinnkjøpsstand på din skole på slutten av
			semesteret eller på nett. Mange privatister ønsker å selge bøkene
			sine på slutten av semesteret og Boklisten kjøper inn bøker fra
			privatister.
		</p>
		<p>
			Hvis du selger boken din til Boklisten vil vi vanligvis betale det
			samme som restbeløpet eller mer, men vi kan dessverre ikke gi noen
			garanti for at vi kjøper inn akkurat din bok.
		</p>
	</div>

	<div class="col-auto" *ngIf="confirmed">
		<fa-icon [icon]="'check'" class="mr-2 text-success"></fa-icon>

		<span i18n="@@cartAgreementYouHaveAgreed"
			>You have agreed to our agreement</span
		>
	</div>
</div>

<app-info-agreement-conditions
	[collapsable]="true"
></app-info-agreement-conditions>

<div class="row justify-content-center">
	<div class="col-12">
		<button
			class="btn btn-block btn-outline-success"
			(click)="onConfirmClick()"
		>
			<span i18n="@@cartAgreementAgreeButton">Agree</span>
		</button>
	</div>
</div>
