<ngb-accordion [closeOthers]="true">
	<ngb-panel>
		<ng-template ngbPanelTitle>
			<span i18n="@@infoConditionsAgreementTitle">Conditions</span>
		</ng-template>
		<ng-template ngbPanelContent>
			<app-info-agreement-conditions></app-info-agreement-conditions>
		</ng-template>
	</ngb-panel>

	<ngb-panel>
		<ng-template ngbPanelTitle>
			<span i18n="@@infoPrivacyAgreementTitle">Privacy policy</span>
		</ng-template>
		<ng-template ngbPanelContent>
			<app-info-agreement-privacy></app-info-agreement-privacy>
		</ng-template>
	</ngb-panel>

	<ngb-panel>
		<ng-template ngbPanelTitle>
			<span i18n="@@infoTermsOfServiceTitle">Terms of service</span>
		</ng-template>
		<ng-template ngbPanelContent>
			<app-info-agreement-terms></app-info-agreement-terms>
		</ng-template>
	</ngb-panel>
</ngb-accordion>
