<div class="row mt-2">
	<div class="col">
		<div class="card">
			<div class="card-body text-center">
				<h1 i18n="@@matchSelectTitle text-center">
					Reuse of your items
				</h1>
				<h3 i18n="@@matchSelectSubtitle" class="pt-4">
					Do you want your items to be reused next semester?
				</h3>
				<p i18n="@@matchSelectTitleInfo">
					If you choose "reuse" below you will be able to hold the
					item to january. When the item is deliverd to another
					customer you will get 50 NOK sent to you with VIPS.
				</p>
			</div>
		</div>
	</div>
</div>
<ul class="list-group p-2">
	<li
		class="list-group-item list-group-item-warning mt-2"
		*ngIf="noCustomerItemsFoundError"
	>
		<fa-icon [icon]="'exclamation-circle'" class="mr-2"></fa-icon>
		<span i18n="@@matchSelectNoCustomerItemsFound">
			No CustomerItems found
		</span>
	</li>
	<li
		class="list-group-item list-group-item-danger mt-2"
		*ngIf="noDeadlineSpecifiedError"
	>
		<fa-icon [icon]="'exclamation-triangle'" class="mr-2"></fa-icon>
		<span i18n="@@matchSelectNoDeadlineSpecified">
			No deadline specified</span
		>
	</li>
	<li class="list-group-item mt-2" *ngFor="let customerItem of customerItems">
		<app-match-select-item
			[customerItem]="customerItem"
			(selectedChoice)="onSelectChoice($event)"
		></app-match-select-item>
	</li>
</ul>
<div class="row mt-2">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h4 i18n="@@matchSelectPracticalInformationTitle">
					Practical information
				</h4>
				<p i18n="@@matchSelectPracticalInformationPart1">
					When you click "reuse" Boklisten buys your item and you will
					not need to pay the second payment. You will be accountable
					to deliver the item to another customer or to Boklisten if
					no customer is matched.
				</p>
				<p i18n="@@matchSelectPracticalInformationPart2">
					You will get an SMS about meeting time and place. You can
					decide to opt out on a later time. If you opt out you must
					pay the second payment for your items.
				</p>
				<p i18n="@@matchSelectPracticalInformationMoreInformation">
					More information about the "Reuse" incentive can be read
					<a routerLink="/info/matching" routerLinkActive="true">
						at our info page
					</a>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row justify-content-center bg-info bl-goto-footer">
	<div class="col-12"></div>
	<div class="col-md-6 col-12">
		<button
			class="btn btn-block"
			(click)="onConfirm()"
			[disabled]="!canConfirm()"
			[ngClass]="{ 'btn-success': canConfirm() }"
		>
			<span
				*ngIf="!wait && !canConfirm()"
				class="text-white"
				i18n="@@matchSelectPleaseSelectOption"
				>Please select a option for each item</span
			>
			<span *ngIf="!wait && canConfirm()" i18n="@@matchSelectConfirm"
				>Confirm</span
			>
			<fa-icon
				[icon]="'circle-notch'"
				[spin]="true"
				*ngIf="wait"
			></fa-icon>
		</button>
	</div>
</div>
