<ul class="list-group">
	<li class="list-group-item mt-2" *ngFor="let customerItem of customerItems">
		<app-match-select-item
			[customerItem]="customerItem"
			(selectedChoice)="onSelectChoice($event)"
		></app-match-select-item>
	</li>
</ul>
<div class="row justify-content-end mt-2">
	<div class="col-auto">
		<button
			class="btn btn-lg"
			(click)="onConfirm()"
			[disabled]="!canConfirm()"
			[ngClass]="{ 'btn-success': canConfirm() }"
		>
			<span *ngIf="!wait">Confirm</span>
			<fa-icon
				[icon]="'circle-notch'"
				[spin]="true"
				*ngIf="wait"
			></fa-icon>
		</button>
	</div>
</div>
