<div class="row">
    <div class="col-12">
        <span class="text-secondary bl-text-sm mb-2">Last updated 10.10.17</span>
        <h6>Rent agreement</h6>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices neque ut purus rhoncus, in egestas velit feugiat. Donec eu lectus volutpat, dapibus arcu eget, ultrices risus. Curabitur vel laoreet erat. Sed aliquam felis non elit feugiat, a malesuada nisi maximus. Ut fringilla erat id orci viverra commodo. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Integer eu cursus magna, nec porta lorem.
            Nulla sagittis purus ullamcorper, fermentum dolor sed, semper eros. Mauris venenatis ex sapien, id aliquam lectus gravida at. In libero tortor, cursus eget nisi ut, fringilla ultricies metus. Proin gravida finibus velit, vitae dapibus ipsum facilisis sit amet. Sed sed dapibus nibh. Maecenas nec mi est. Praesent hendrerit tempor tellus et mollis.
        </p>
    </div>
</div>
