<div class="row bg-white">
	<div class="col-12">
		<span class="text-secondary bl-text-sm mb-2"
			>Sist oppdatert: 25.06.16</span
		>
		<h1>Leiebetingelser for privatister og elever</h1>
	</div>
	<div class="col-12">
		<p>
			Det avtales herved at Boklisten.no AS (Adr: Pb 8, 1359 Eiksmarka,
			tlf: 91002211, epost info@boklisten.no), heretter kalt Boklisten
			leier ut bøker til kunden (for privatister) og låner bort bøkene
			(for elever). Elever låner bøker for et skoleår og
			tilbakeleveringsfristen er 1. juli. Privatister som leier bøker for
			et halvt år, må levere innen 20.desember for høstsemester, og 1.juli
			for vårsemester. Privatister som leier bøker for et helt år må
			levere innen 1.juli påfølgende år for leie om høsten, eller
			20.desember samme år for leie på våren. Dersom forlengelse tilbys,
			kan bøkene forlenges for ett semester ved innbetaling av
			forlengelsesgebyret. Innlevering må da skje innen neste
			innleveringsfrist. Bøkene må erstattes med forlagenes listepris +
			prisjustering på 10% + gebyr på 90 kr per bok hvis de blir ødelagte,
			mistes eller av annen grunn ikke leveres innen fristen.
		</p>
		<p>
			Ved tilbakelevering fra elever/privatister må bøkene være i god
			stand. Boklisten har ensidig rett til å avgjøre om en bok aksepteres
			eller må erstattes. Det anbefales derfor å behandle bøkene pent og
			bruke bokbind. Se mer informasjon på nettsidene til Boklisten.no om
			hva som godtas ved tilbakelevering av bøker.
		</p>
		<p>
			Denne avtale reguleres av norsk rett. Eventuelle tvister med
			utspring i avtaleforholdet skal avgjøres ved behandling i de
			ordinære domstoler. Oslo tingrett skal være verneting.
		</p>
	</div>
</div>
